/* Style section banner */

.box-banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

.box-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-banner .filter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.box-banner .title-banner {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-banner .title-banner h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    line-height: 57px;
    margin: 0px 0px 15px;
    text-align: left;
}

.box-banner .title-banner span {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin: 0px 0px 40px;
    text-align: left;
}

.box-banner .title-banner .back-page {
    width: 100%;
}

.box-banner .title-banner .back-page a {
    color: #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.box-banner .title-banner .back-page a:not(:last-child):after {
    content: "/";
    margin: 0px 5px;
}


/* Styling section about-us */

.box-about-company {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.box-about-company .wrap-about-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-about-company .wrap-about-company .title-about-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0px 15px 0px;
}

.box-about-company .wrap-about-company .title-about-company h1 {
    color: #474d4b;
    font-size: 39.998px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 43.9978px;
    margin: 0px 0px 12px;
    text-align: center;
    text-transform: uppercase;
}

.box-about-company .wrap-about-company .title-about-company p {
    color: #1f2933;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 25px;
    margin: 0px 0px 12px;
    text-align: center;
}

.box-about-company .wrap-about-company .content-about-company {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

.box-about-company .wrap-about-company .content-about-company .card-about-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.box-about-company .wrap-about-company .content-about-company .card-about-company .img-card-about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    margin: 0px 0px 30px 0px;
}

.box-about-company .wrap-about-company .content-about-company .card-about-company .img-card-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-about-company .wrap-about-company .content-about-company .card-about-company h3 {
    color: #474d4b;
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.box-about-company .wrap-about-company .content-about-company .card-about-company p {
    color: #1f2933;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 15px 0px;
    text-align: center;
}


/* Styling section about-entrada */

.box-about-entrada {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    background-color: #fafafa;
}

.box-about-entrada .wrap-about-entrada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-about-entrada .wrap-about-entrada .title-about-entrada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0px 30px 0px;
}

.box-about-entrada .wrap-about-entrada .title-about-entrada h1 {
    color: #474d4b;
    font-size: 39.998px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 43.9978px;
    margin: 0px 0px 12px;
    text-align: center;
    text-transform: uppercase;
}

.box-about-entrada .wrap-about-entrada .title-about-entrada p {
    color: #1f2933;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 25px;
    margin: 0px 0px 12px;
    text-align: center;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0px;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel .introduce-company {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 30px 0;
    border-radius: 12px 12px 0 0;
    background-color: #fff;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel .story-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0 30px 30px;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel .introduce-company .content,
.box-about-entrada .wrap-about-entrada .content-about-vntravel .story-company .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 60px;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel .introduce-company .img-introduce,
.box-about-entrada .wrap-about-entrada .content-about-vntravel .story-company .img-story {
    width: 50%;
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel .introduce-company h3,
.box-about-entrada .wrap-about-entrada .content-about-vntravel .story-company h3 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    margin: 0px 0px 15px 0px;
    text-align: left;
}

.box-about-entrada .wrap-about-entrada .content-about-vntravel p {
    color: #1f2933;
    font-size: 14px;
    line-height: 25px;
    margin: 0px 0px 12px;
    text-align: left;
}

/* Styling section service */

.box-service-company {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
}

.box-service-company .box-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/dalat2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box-service-company .box-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-service-company h3 {
    color: #fff;
    font-family: var(--second-font);
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.box-service-company>.filter-bg {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}

.box-service-company .wrap-service-company {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 50px 0px;
}

.box-service-company .wrap-service-company .card-service-company {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.box-service-company .wrap-service-company .card-service-company .bg-blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4366c566;
    backdrop-filter: blur(20px);
}

.box-service-company .wrap-service-company .card-service-company:hover .bg-blur {
    background-color: #4366c5;
}

.box-service-company .wrap-service-company .card-service-company .title-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box-service-company .wrap-service-company .card-service-company .title-service i {
    color: #fff;
    font-size: 30px;
    transition: all 0.3s linear;
}

.box-service-company .wrap-service-company .card-service-company:hover .title-service i {
    animation: CartMove 0.6s ease-in-out infinite alternate;
}

.box-service-company .wrap-service-company .card-service-company .title-service span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s linear;
}


.box-service-company .wrap-service-company .card-service-company p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    margin: 0px 0px 12px;
    text-align: left;
}

/* Styling section about-team */

.box-team {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: #fff;
    height: 70vh;
}

.box-team .wrap-team {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.box-team .wrap-team .introduce-team {
    padding: 0px 50px 0px 0px;
}

.box-team .wrap-team .introduce-team h3 {
    color: #252525;
    font-family: var(--second-font);
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 15px;
    font-weight: 600;
}

.box-team .wrap-team .introduce-team p {
    color: #333333;
    font-size: 16px;
    line-height: 25px;
    font-family: var(--normal-font);
    margin-bottom: 30px;
}

/* ---button meet--- */

.box-team .wrap-team .introduce-team .btn-meet {
    position: relative;
    padding: 15px 45px;
    background: #4366c5;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #4366c5;
    border-radius: 12px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

.box-team .wrap-team .introduce-team .btn-meet:hover {
    border: 1px solid #88a9e0;
    background: linear-gradient(85deg, #344a93, #4366c5, #4366c5, #88a9e0, #88a9e0);
    animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
    0% {
        background-position: 0% 50%;
    }

    0% {
        background-position: 50% 100%;
    }

    0% {
        background-position: 0% 50%;
    }
}

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

.box-team .wrap-team .introduce-team .btn-meet .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
}

@keyframes slay-1 {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.box-team .wrap-team .introduce-team .btn-meet .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.box-team .wrap-team .introduce-team .btn-meet .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}

.box-team .wrap-team .introduce-team button a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 20px 40px;
}

.box-team .wrap-team .img-team {
    display: inline-block;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}


/* Styling section slogan */

.box-slogan {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.box-slogan .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/ruongbacthang5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.box-slogan .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-slogan .wrap-slogan {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.box-slogan .wrap-slogan .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.box-slogan .wrap-slogan .slogan h1 {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
}

.box-slogan .wrap-slogan .slogan h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 5px;
    background-color: #fff;
    margin: 0px 0px 0px 30px;
}

/* Styling contact us */

.box-about-contact {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.box-about-contact .wrap-about-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.box-about-contact .wrap-about-contact .title-about-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.box-about-contact .wrap-about-contact .title-about-contact h3 {
    font-family: var(--second-font);
    font-size: 45px;
    line-height: 45px;
    font-weight: 600;
    color: #252525;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.box-about-contact .wrap-about-contact .contact-action {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.box-about-contact .wrap-about-contact .contact-action .call-action {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
}

.box-about-contact .wrap-about-contact .contact-action .call-action p {
    font-size: 16px;
    line-height: 25px;
    font-family: var(--normal-font);
    margin-bottom: 15px;
}

.box-about-contact .wrap-about-contact .contact-action .call-action .call-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.box-about-contact .wrap-about-contact .contact-action .call-action .call-tel i {
    font-size: 35px;
    margin-right: 5px;
}

.box-about-contact .wrap-about-contact .contact-action .call-action .call-tel span {
    font-size: 16px;
    font-family: var(--normal-font);
}

.box-about-contact .wrap-about-contact .contact-action .call-action .call-tel a {
    color: var(--primary-color);
    font-family: var(--normal-font);
    font-size: 28px;
    font-weight: 600;
}

.box-about-contact .wrap-about-contact .contact-action form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.box-about-contact .wrap-about-contact .contact-action form .enter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.box-about-contact .wrap-about-contact .contact-action form .enter-info .enter-name,
.box-about-contact .wrap-about-contact .contact-action form .enter-info .enter-mail {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-about-contact .wrap-about-contact .contact-action form .enter-info input {
    position: relative;
    border: 1px solid var(--primary-color);
    outline: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 12px;
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--normal-color);
}

.box-about-contact .wrap-about-contact .contact-action form .enter-info label {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-family: var(--normal-color);
    font-size: 16px;
    padding: 0 10px;
    transition: all 0.25s linear;
}


.box-about-contact .wrap-about-contact .contact-action form .enter-mess {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-about-contact .wrap-about-contact .contact-action form .enter-mess label {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 15px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-family: var(--normal-color);
    font-size: 16px;
    padding: 0 10px;
    transition: all 0.25s linear;
}

.box-about-contact .wrap-about-contact .contact-action form textarea {
    border: 1px solid var(--primary-color);
    outline: none;
    padding: 15px 30px;
    width: 100%;
    border-radius: 12px;
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--normal-color);
    margin-bottom: 30px;
    resize: none;
}

.box-about-contact .wrap-about-contact .contact-action form .enter-info input:focus~label,
.box-about-contact .wrap-about-contact .contact-action form .enter-info input:valid~label,
.box-about-contact .wrap-about-contact .contact-action form .enter-mess textarea:focus~label,
.box-about-contact .wrap-about-contact .contact-action form .enter-mess textarea:valid~label {
    top: 0px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: #fff;
    transition: all 0.25s linear;
}

/* ---Button send--- */
.bt {
    border: none;
    user-select: none;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #0873bd;
    box-shadow: #cacaca 2px 2px 10px 1px;
    border-radius: 12px;
    height: 60px;
    line-height: 60px;
    width: 155px;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer;
}

.msg {
    height: 0;
    width: 0;
    border-radius: 2px;
    position: absolute;
    left: 15%;
    top: 25%;
}

.bt:active {
    transition: all 0.001s ease;
    background-color: #5d9fcd;
    box-shadow: #97989a 0 0 0 0;
    transform: translateX(1px) translateY(1px);
}

.bt:hover .msg {
    animation: msgRun 2s forwards;
}

@keyframes msgRun {
    0% {
        border-top: #d6d6d9 0 solid;
        border-bottom: #f2f2f5 0 solid;
        border-left: #f2f2f5 0 solid;
        border-right: #f2f2f5 0 solid;
    }

    20% {
        border-top: #d6d6d9 14px solid;
        border-bottom: #f2f2f5 14px solid;
        border-left: #f2f2f5 20px solid;
        border-right: #f2f2f5 20px solid;
    }

    25% {
        border-top: #d6d6d9 12px solid;
        border-bottom: #f2f2f5 12px solid;
        border-left: #f2f2f5 18px solid;
        border-right: #f2f2f5 18px solid;
    }

    80% {
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }

    100% {
        transform: translateX(150px);
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }
}



/* Reponsive */

@media (max-width: 1250px) {
    .box-service-company .wrap-service-company {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        padding: 50px 30px;
    }
}

@media (max-width: 850px) {
    .box-about-entrada .wrap-about-entrada .content-about-entrada {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
        gap: 30px;
    }
}

@media (max-width: 768px) {

    .box-about-company .wrap-about-company .content-about-company .card-about-company .img-card-about {
        width: 130px;
        height: 130px;
        margin: 0px 0px 30px 0px;
    }

    .box-about-company .wrap-about-company .content-about-company {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }

    .box-service-company .wrap-service-company {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        padding: 50px 30px;
    }

    .box-achieve .wrap-achieve .content-achieve {
        flex-direction: column;
    }

    .box-achieve .wrap-achieve .content-achieve .content-left,
    .box-achieve .wrap-achieve .content-achieve .content-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .box-about-company .wrap-about-company .content-about-company .card-about-company .img-card-about {
        width: 100px;
        height: 100px;
        margin: 0px 0px 20px 0px;
    }

    .box-service-company .wrap-service-company {
        padding: 50px 10px;
    }
}