/* Styling section destination-Page */

.box-destinationPage {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    background-color: #fafafa;
}

.box-destinationPage .wrap-destinationPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-destinationPage .wrap-destinationPage .title-destinationPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.box-destinationPage .wrap-destinationPage .title-destinationPage h3 {
    font-family: var(--second-font);
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #231d0d;
    text-align: center;
}

.box-destinationPage .wrap-destinationPage .btn-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 30px 0;
    gap: 30px;
}

.box-destinationPage .wrap-destinationPage .btn-filter button {
    position: relative;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: transparent;
    color: #252525;
    font-size: 16px;
    font-family: var(--normal-font);
    cursor: pointer;
}

.box-destinationPage .wrap-destinationPage .btn-filter button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: transparent;
}

.box-destinationPage .wrap-destinationPage .btn-filter button:hover {
    background-color: var(--hover-color);
}

.box-destinationPage .wrap-destinationPage .btn-filter button.active {
    color: var(--primary-color);
}

.box-destinationPage .wrap-destinationPage .btn-filter button.active::after {
    color: var(--primary-color);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
}

.box-destinationPage .wrap-destinationPage .list-destination {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 5px;
    padding: 15px;
    gap: 15px;
    max-width: 350px;
    box-shadow: 0 10px 20px #00000022;
    transition: all 0.25s linear;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination:hover {
    box-shadow: 0 10px 20px #00000066;
    transition: all 0.25s linear;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination.hide {
    display: none;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .img-card {
    display: inline-block;
    height: 250px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .info-card h3 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
    font-family: var(--normal-font);
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .info-card h3>a {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-family: var(--normal-font);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .info-card span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-family: var(--normal-font);
    font-size: 14px;
    color: #555555;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .info-card p {
    font-family: var(--normal-font);
    font-size: 16px;
    color: #555555;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
}

.box-destinationPage .wrap-destinationPage .list-destination .card-destination .info-card>a {
    text-align: right;
    width: 100%;
    font-size: 16px;
    color: var(--primary-color);
}