/* Fancybox */
.fancybox-content {
    max-width: 85% !important;
    height: 80vh;
    background: transparent !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.fancybox-content a {
    height: 100% !important;
    width: 80vw;
}

.fancybox-button svg {
    color: #fff;
}

/* Styling section content post */

.box-page-blog .wrap-page-blog .content-page-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.box-page-blog .wrap-page-blog .content-page-blog h3 {
    font-family: var(--normal-font);
    font-size: 28px;
    width: 100%;
    font-weight: 700;
    color: #252525;
    text-align: left;
    margin-bottom: 30px;
}

.box-page-blog .wrap-page-blog .content-page-blog p,
.box-page-blog .wrap-page-blog .content-page-blog .img-post p {
    font-family: var(--normal-font);
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
}

.box-page-blog .wrap-page-blog .content-page-blog .img-post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-page-blog .wrap-page-blog .content-page-blog .img-post h4 {
    font-family: var(--normal-font);
    color: #333333;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.box-page-blog .wrap-page-blog .content-page-blog .img-post img {
    margin-bottom: 15px;
}

.box-page-blog .wrap-page-blog .content-page-blog .other-new-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.box-page-blog .wrap-page-blog .content-page-blog .other-new-post h4 {
    font-family: var(--normal-font);
    color: #333333;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
}

.box-page-blog .wrap-page-blog .content-page-blog .other-new-post ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.box-page-blog .wrap-page-blog .content-page-blog .other-new-post ul li a {
    font-family: var(--normal-font);
    color: var(--hover-color);
}