.box-profile {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.box-profile .wrap-profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.box-profile .wrap-profile .menu-profile {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 1px solid #7ca4de;
    border-radius: 12px;
    padding: 15px;
}

.box-profile .wrap-profile .menu-profile .avatar-upload {
    width: 100%;
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid #5d85d4;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 15px;
}

.box-profile .wrap-profile .menu-profile .avatar-upload>img {
    width: 100%;
    height: 100%;
}

.box-profile .wrap-profile .menu-profile .avatar-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
    cursor: pointer;
}

.box-profile .wrap-profile .menu-profile .avatar-upload i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    color: var(--primary-color);
    font-size: 30px;
    transition: all 0.25s linear;
}

.box-profile .wrap-profile .menu-profile .avatar-upload:hover i {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    transition: all 0.25s linear;
}

.box-profile .wrap-profile .menu-profile .info-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.box-profile .wrap-profile .menu-profile .info-profile span.name {
    font-family: var(--normal-font);
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.box-profile .wrap-profile .menu-profile .info-profile span.mail,
.box-profile .wrap-profile .menu-profile .info-profile span.tel {
    font-family: var(--normal-font);
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

.box-profile .wrap-profile .menu-profile .tab-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item,
.box-profile .wrap-profile .menu-profile .tab-menu .item-logOut {
    display: inline-block;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item.active {
    background-color: var(--primary-color) !important;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item:hover,
.box-profile .wrap-profile .menu-profile .tab-menu .item-logOut:hover {
    background-color: #cadaf3;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item i,
.box-profile .wrap-profile .menu-profile .tab-menu .item-logOut i {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
    color: #252525;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item.active i {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
    color: #fff;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item span,
.box-profile .wrap-profile .menu-profile .tab-menu .item-logOut span {
    font-family: var(--normal-font);
    font-size: 16px;
    color: #252525;
}

.box-profile .wrap-profile .menu-profile .tab-menu .tab-item.active span {
    font-family: var(--normal-font);
    font-size: 16px;
    color: #fff;
}

.box-profile .wrap-profile .update-profile {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f6fc;
    border-radius: 12px;
    padding: 30px;
}

.box-profile .wrap-profile .update-profile .tab-profile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.box-profile .wrap-profile .update-profile .tab-profile.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.box-profile .wrap-profile .update-profile .tab-profile h3 {
    font-size: 28px;
    color: #384a95;
    font-family: var(--normal-font);
}

.box-profile .wrap-profile .update-profile .tab-profile .form-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.box-profile .wrap-profile .update-profile .tab-profile .form-profile .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box-profile .wrap-profile .update-profile .tab-profile .form-profile .input label {
    font-size: 18px;
    color: #252525;
    font-weight: 500;
    font-family: var(--normal-font);
    width: 30%;
}

.box-profile .wrap-profile .update-profile .tab-profile .form-profile .input input {
    width: 70%;
    border: 1px solid #7ca4de;
    outline: none;
    border-radius: 8px;
    padding: 10px 10px;
    font-size: 16px;
    color: #333333;
    font-family: var(--normal-font);
}

.box-profile .wrap-profile .update-profile .tab-profile .form-profile .input input:focus {
    outline: 1px solid var(--primary-color);
}

.box-profile .wrap-profile .update-profile .tab-profile .form-profile button {
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: var(--normal-font);
    background-color: var(--primary-color);
    margin-top: 15px;
    cursor: pointer;
}

/* <<<==Log Acc==>>> */


.box-info-detail {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.box-info-detail .wrap-info-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.box-info-detail .wrap-info-detail .tab-info-detail {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail h3,
.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail h3 {
    font-family: var(--normal-font);
    font-size: 28px;
    font-weight: 700;
    color: #384a95;
    text-align: center;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail,
.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    padding: 60px 30px !important;
    background-color: #e1eaf8;
    border-radius: 12px;
    box-shadow: 0 10px 20px #00000022;
    transition: all 0.25s linear;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail:hover,
.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail:hover {
    box-shadow: 0 10px 20px #00000066;
    transition: all 0.25s linear;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail>label {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    text-align: left;
    width: 100%;
    line-height: 25px;
    margin: 30px 15px 10px 5px;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail input,
.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: var(--normal-font);
    border-radius: 8px;
    border: 1px solid #cadaf3;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail input:focus,
.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail input:focus {
    border: 1px solid var(--hover-color);
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .rememberPass {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .rememberPass>input[type="checkbox"] {
    width: auto;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .rememberPass>label {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-align: left;
    width: 100%;
    line-height: 25px;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail button {
    border: none;
    outline: none;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    margin: 30px 0px 30px;
    background-color: var(--primary-color);
    font-size: 18px;
    font-family: var(--normal-font);
    letter-spacing: 1px;
    cursor: pointer;
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .toLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: #666666;
    font-family: var(--normal-font);
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .toLogin a {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: var(--hover-color);
    text-align: left;
    text-decoration: underline;
    font-family: var(--normal-font);
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--normal-font);
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .support a {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: var(--hover-color);
    text-align: left;
    text-decoration: underline;
    font-family: var(--normal-font);
}

.box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .support .toRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    color: #666666;
    font-family: var(--normal-font);
}


/* <<<==Reponsive==>>> */

@media (max-width: 768px) {

    .box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail,
    .box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .box-info-detail .wrap-info-detail .tab-info-detail .content-info-detail .support {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        font-family: var(--normal-font);
    }
}