<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/blog.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>Blog</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/cauvang2.png" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Blogs</h1>
                <span>Create your blog pages in seconds!</span>
                <div class="back-page">
                    <a href="./index.html">Trang chủ</a>
                    <a>Bài viết</a>
                </div>
            </div>
        </section>

        <!-- Section Blog -->

        <section class="box-page-blog">
            <div class="wrap wrap-page-blog">
                <div class="content-page-blog">
                    <div class="card-page-blog">
                        <div class="img-card-page-blog">
                            <img src="../images/nhatrang4.jpg" alt="">
                        </div>
                        <div class="info-card-page-blog">
                            <div class="info-title">
                                <a href="../view/detailBlog.html">
                                    <h3>Biển Nha Trang đẹp nhất khi đi vào tháng 7 và 8</h3>
                                </a>
                                <span>30th, May</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor…</p>
                            <div class="info-view">
                                <div class="author-view">
                                    <span>Post by <a href="">Ngoc</a></span>
                                    <span><a href="">0 Comment</a></span>
                                    <div class="btn-share">
                                        <i class="fa-solid fa-share-nodes share">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"></i>
                                                        <span>Tweet</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <button>
                                        <a href="../view/detailBlog.html">
                                            <span>Xem thêm</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-page-blog">
                        <div class="img-card-page-blog slide-img-page-blog">
                            <div class="img-page-blog">
                                <img src="../images/ninhbinh3.jpg" alt="">
                            </div>
                        </div>
                        <div class="info-card-page-blog">
                            <div class="info-title">
                                <a href="../view/detailBlog.html">
                                    <h3>Ghẹ Vịnh Hạ Long rất ngon</h3>
                                </a>
                                <span>30th, May</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor…</p>
                            <div class="info-view">
                                <div class="author-view">
                                    <span>Post by <a href="">Ngoc</a></span>
                                    <span><a href="">0 Comment</a></span>
                                    <div class="btn-share">
                                        <i class="fa-solid fa-share-nodes share">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"></i>
                                                        <span>Tweet</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <button>
                                        <a href="../view/detailBlog.html">
                                            <span>Xem thêm</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-page-blog">
                        <div class="img-card-page-blog">
                            <img src="../images/hoguom1.jpg" alt="">
                        </div>
                        <div class="info-card-page-blog">
                            <div class="info-title">
                                <a href="../view/detailBlog.html">
                                    <h3>Ghẹ Vịnh Hạ Long rất ngon</h3>
                                </a>
                                <span>30th, May</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor…</p>
                            <div class="info-view">
                                <div class="author-view">
                                    <span>Post by <a href="">Ngoc</a></span>
                                    <span><a href="">0 Comment</a></span>
                                    <div class="btn-share">
                                        <i class="fa-solid fa-share-nodes share">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"></i>
                                                        <span>Tweet</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <button>
                                        <a href="../view/detailBlog.html">
                                            <span>Xem thêm</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-page-blog">
                        <div class="img-card-page-blog">
                            <img src="../images/halong.jpg" alt="">
                        </div>
                        <div class="info-card-page-blog">
                            <div class="info-title">
                                <a href="../view/detailBlog.html">
                                    <h3>Ghẹ Vịnh Hạ Long rất ngon</h3>
                                </a>
                                <span>30th, May</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor…</p>
                            <div class="info-view">
                                <div class="author-view">
                                    <span>Post by <a href="">Ngoc</a></span>
                                    <span><a href="">0 Comment</a></span>
                                    <div class="btn-share">
                                        <i class="fa-solid fa-share-nodes share">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"></i>
                                                        <span>Tweet</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <button>
                                        <a href="../view/detailBlog.html">
                                            <span>Xem thêm</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-page-blog">
                        <div class="img-card-page-blog">
                            <img src="../images/ruongbacthang4k.jpg" alt="">
                        </div>
                        <div class="info-card-page-blog">
                            <div class="info-title">
                                <a href="../view/detailBlog.html">
                                    <h3>Ghẹ Vịnh Hạ Long rất ngon</h3>
                                </a>
                                <span>30th, May</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor…</p>
                            <div class="info-view">
                                <div class="author-view">
                                    <span>Post by <a href="">Ngoc</a></span>
                                    <span><a href="">0 Comment</a></span>
                                    <div class="btn-share">
                                        <i class="fa-solid fa-share-nodes share">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"></i>
                                                        <span>Tweet</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <button>
                                        <a href="../view/detailBlog.html">
                                            <span>Xem thêm</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-page-blog">
                        <div class="img-card-page-blog">
                            <img src="../images/dalat3.jpg" alt="">
                        </div>
                        <div class="info-card-page-blog">
                            <div class="info-title">
                                <a href="../view/detailBlog.html">
                                    <h3>Ghẹ Vịnh Hạ Long rất ngon</h3>
                                </a>
                                <span>30th, May</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis
                                aute irure dolor…</p>
                            <div class="info-view">
                                <div class="author-view">
                                    <span>Post by <a href="">Ngoc</a></span>
                                    <span><a href="">0 Comment</a></span>
                                    <div class="btn-share">
                                        <i class="fa-solid fa-share-nodes share">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <i class="fa-brands fa-twitter"></i>
                                                        <span>Tweet</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </i>
                                    </div>
                                </div>
                                <div class="btn-view">
                                    <button>
                                        <a href="../view/blog.html">
                                            <span>Xem thêm</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-blog">
                    <div class="search-blog">
                        <input type="text" placeholder="Search...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="nav-select-blog">
                        <ul class="nav-blog">
                            <li>
                                <span class="show-select open">
                                    <p>Bài viết khác</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-tour-blog">
                                    <li>
                                        <a href="">
                                            Đồ ăn Vịnh Hạ Long rất ngon
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Luxury Tours in Bahamas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Amazing Tips for Tour Guides
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Top Tour Destination of 2023
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="show-select open">
                                    <p>Blog Tags</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-icon-blog">
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-snowboarding"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-city"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-crosshairs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-biking"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-sailboat"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-swimming"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-hippo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-snowboarding"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-umbrella-beach"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="show-select open">
                                    <p>Ảnh</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-img-blog">
                                    <li>
                                        <a href="">
                                            <img src="../images/hoguom.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/halong4.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/sapa2.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/dalat.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/hohoankiem.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/hagiang2.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>