<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/contact.css" />
    <title>Liên hệ - VN Travel</title>
  </head>

  <body>
    <!-- layout-page -->
    <div w3-include-html="navbar.html"></div>

    <!-- Section home -->
    <section class="box-banner">
      <img src="../images/dalat2.jpg" alt="" />
      <div class="filter-bg"></div>
      <div class="wrap title-banner">
        <h1>Liên hệ chúng tôi</h1>
        <span>The Best for Our Customers</span>
        <div class="back-page">
          <a href="../view/index.html">Trang chủ</a>
          <a>Liên hệ chúng</a>
        </div>
      </div>
    </section>

    <!-- Section contact us -->

    <!-- Section contact -->

    <section class="box-contact">
      <section class="wrap wrap-contact">
        <div class="title-contact">
          <h1>Liên hệ với chúng tôi</h1>
          <p>
            Liên hệ với chúng tôi qua email, điện thoại hoặc địa chỉ của chúng
            tôi dưới đây.
          </p>
        </div>
        <div class="info-contact">
          <a href="tel:0354899836">
            <div class="card-info-contact">
              <div class="phone-contact">
                <i class="fa-solid fa-phone-volume"></i>
                <span>0354 899 836</span>
              </div>
              <div class="text-info-card">
                <h3>Yêu cầu đặt Tour</h3>
                <p>
                  This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh
                  vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                  bibendum auctor, nisi elit
                </p>
              </div>
            </div>
          </a>
          <a href="tel:0387094970">
            <div class="card-info-contact">
              <div class="phone-contact">
                <i class="fa-solid fa-phone-volume"></i>
                <span>0387 094 970</span>
              </div>
              <div class="text-info-card">
                <h3>Đăng bài đăng</h3>
                <p>
                  This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh
                  vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                  bibendum auctor, nisi elit
                </p>
              </div>
            </div>
          </a>
          <a href="tel:0354899836">
            <div class="card-info-contact">
              <div class="phone-contact">
                <i class="fa-solid fa-blender-phone"></i>
                <span>0354 899 836</span>
              </div>
              <div class="text-info-card">
                <h3>Kiểm tra thanh toán</h3>
                <p>
                  This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh
                  vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                  bibendum auctor, nisi elit
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="how-contact">
          <form class="form-contact">
            <div class="title-form-contact">
              <h3>Thông tin liên hệ</h3>
              <span
                >Phần thông tin bắt buộc <span style="color: red">*</span></span
              >
            </div>
            <div class="input">
              <label for="fullName"
                >Tên đầy đủ <span style="color: red">*</span></label
              >
              <input type="text" id="fullName" required />
            </div>
            <div class="input">
              <label for="yourEmail"
                >Email <span style="color: red">*</span></label
              >
              <input type="text" id="yourEmail" required />
            </div>
            <div class="input">
              <label for="phone"
                >Số điện thoại <span style="color: red">*</span></label
              >
              <input type="text" id="phone" required />
            </div>
            <div class="input">
              <label for="mess"
                >Lời nhắn <span style="color: red">*</span></label
              >
              <textarea name="" id="mess" rows="7" required></textarea>
            </div>
            <button class="hvr-sweep-to-right">Gửi yêu cầu</button>
          </form>
          <div class="add-contact">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7965136298008!2d105.7723241154193!3d21.040826492741033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c90a66a4fd%3A0x1c9a2fe43fae27dd!2zMTQ3IFAuIE1haSBE4buLY2gsIE1haSBE4buLY2gsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1680775368104!5m2!1svi!2s"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </section>
    </section>

    <!-- Footer -->

    <div w3-include-html="footer.html"></div>

    <!-- script  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="../js/w3-import.js"></script>
  </body>
</html>
