<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../css/destination.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>Destinations</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/halong1.jpg" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Điểm đến</h1>
                <span>The Best for Destination VN</span>
                <div class="back-page">
                    <a href="../view/index.html">Home</a>
                    <a href="../view/destination.html">Destination</a>
                </div>
            </div>
        </section>

        <!-- Section list destination -->

        <section class="box-destinationPage">
            <div class="wrap wrap-destinationPage">
                <div class="title-destinationPage">
                    <h3>Tìm điểm đến của bạn</h3>
                </div>
                <div class="search-change">
                    <div class="btn-filter">
                        <button class="active" data-name="all">Tất cả</button>
                        <button data-name="hanoi">Hà Nội</button>
                        <button data-name="haiphong">Hạ Long Bay</button>
                        <button data-name="sapa">Sapa</button>
                        <button data-name="ninhbinh">Ninh Bình</button>
                        <button data-name="hoian"> Hội An</button>
                    </div>
                    <div class="search-input">
                        <input type="text" id="search-input" placeholder="Nhập từ khóa..." onkeyup="search()">
                        <!-- <button id="btn-search-inpuut">Tìm</button> -->
                        <div class="results">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="grid-filter" id="btn-grid">
                        <i class="fa-regular fa-grid"></i>
                        <i class="fa-regular fa-list"></i>
                    </div>
                </div>
                <div class="list-destination" id="grid-filter">
                    <div class="card-destination" data-name="hanoi">
                        <div class="img-card">
                            <img src="../images/hohoankiem.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="haiphong">
                        <div class="img-card">
                            <img src="../images/halong.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Vịnh Lan Hạ - Hạ Long Bay</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hải Phòng
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hai phong">
                        <div class="img-card">
                            <img src="../images/halong4.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Vịnh Hạ Long - Hải Phòng</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hải Phòng
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hoian">
                        <div class="img-card">
                            <img src="../images/phocohoian3.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Chùa cầu - Hội An</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hội An
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hue">
                        <div class="img-card">
                            <img src="../images/codohue2.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Đại Nội Huế</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hanoi">
                        <div class="img-card">
                            <img src="../images/hoguom.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="sapa">
                        <div class="img-card">
                            <img src="../images/sapa2.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Bản Ý - Linh Hồ</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Sapa
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="ninhbinh">
                        <div class="img-card">
                            <img src="../images/ninhbinh1.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Chùa Bái Đính</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Ninh Bình
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="sapa">
                        <div class="img-card">
                            <img src="../images/ruongbacthang5.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Thung lũng Mường Hoa - Sapa</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Sapa
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="haiphong">
                        <div class="img-card">
                            <img src="../images/halong2.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Vịnh Lan Hạ - Vịnh Hạ Long</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hải Phòng
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="ninhbinh">
                        <div class="img-card">
                            <img src="../images/ninhbinh2.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Tam Cốc - Bích Động - Ninh Bình</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Ninh Bình
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hoian">
                        <div class="img-card">
                            <img src="../images/phocohoian2.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Phố cổ Hội An</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hội An
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hoian">
                        <div class="img-card">
                            <img src="../images/phocohoian.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="ninhbinh">
                        <div class="img-card">
                            <img src="../images/ninhbinh3.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Tràng An - Bái Đính</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Ninh Bình
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-destination" data-name="hanoi">
                        <div class="img-card">
                            <img src="../images/hoguom1.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="sapa">
                        <div class="img-card">
                            <img src="../images/ruongbacthang1.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Ruộng bậc thang</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Sapa
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="sâp">
                        <div class="img-card">
                            <img src="../images/vinhhalong2.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Vịnh Hạ Long</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hải Phòng
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hoian">
                        <div class="img-card">
                            <img src="../images/phocohoian6.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hoian">
                        <div class="img-card">
                            <img src="../images/phocohoian5.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="haiphong">
                        <div class="img-card">
                            <img src="../images/halong6.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Bãi Cháy - Vịnh Hạ Long</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hải Phòng
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-destination" data-name="hanoi">
                        <div class="img-card">
                            <img src="../images/hohoankiem.jpg" alt="">
                        </div>
                        <div class="info-card">
                            <h3><a href="">Hồ Hoàn Kiếm - Hà Nội</a></h3>
                            <span class="info-location">
                                <i class="fa-regular fa-location-dot"></i>
                                Hà Nội
                            </span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium necessitatibus,
                                possimus facere sit quasi, nisi saepe obcaecati sint modi explicabo ratione repellat at
                                excepturi, consequatur doloribus voluptatibus ipsa velit molestias!</p>
                            <a href="#" class="btn-view">Xem chi tiết
                                <i class="fa-regular fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section secvice-us -->

        <section class="box-service-company">
            <div class="box-bg">
            </div>
            <div class="filter-bg"></div>
            <h3>Dịch vụ của chúng tôi</h3>
            <div class="wrap wrap-service-company">
                <div class="card-service-company" data-aos="fade-up" data-aos-duration="500">
                    <div class="bg-blur"></div>
                    <div class="title-service">
                        <span href="">Ăn uống</span>
                        <i class="fa-solid fa-mountain-sun"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…exercitation
                        ullamco laboris nisi…</p>
                </div>
                <div class="card-service-company" data-aos="fade-up" data-aos-duration="500">
                    <div class="bg-blur"></div>
                    <div class="title-service">
                        <span href="">Mua sắm</span>
                        <i class="fa-solid fa-person-biking"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…</p>
                </div>
                <div class="card-service-company" data-aos="fade-up" data-aos-duration="500">
                    <div class="bg-blur"></div>
                    <div class="title-service">
                        <span href="">Thể thao</span>
                        <i class="fa-solid fa-tree"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…</p>
                </div>
                <div class="card-service-company" data-aos="fade-up" data-aos-duration="500">
                    <div class="bg-blur"></div>
                    <div class="title-service">
                        <span href="">Vui chơi - giải trí</span>
                        <i class="fa-solid fa-person-hiking"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…</p>
                </div>
                <div class="card-service-company" data-aos="fade-up" data-aos-duration="500">
                    <div class="bg-blur"></div>
                    <div class="title-service">
                        <span href="">Chăm sóc sức khỏe</span>
                        <i class="fa-solid fa-person-snowboarding"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exe
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…rcitation
                        ullamco laboris nisi…</p>
                </div>
                <div class="card-service-company" data-aos="fade-up" data-aos-duration="500">
                    <div class="bg-blur"></div>
                    <div class="title-service">
                        <span href="">Bãi biển</span>
                        <i class="fa-solid fa-umbrella-beach"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicLorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…ing elit, sed do
                        eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi…</p>
                </div>
            </div>
        </section>




        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>