<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../css/detailTour.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>Detail Tour</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section detail tour -->

        <section class="box-detail-tour">
            <div class="wrap-detail-tour">
                <div class="img-detail-tour">
                    <img src="../images/nhatrang4.jpg" alt="">
                </div>
                <div class="book-detail-tour">
                    <div class="title-detail-tour">
                        <h1>Tour Biển Nha Trang</h1>
                        <span>Chỉ từ</span>
                        <div class="price-tour">
                            <div class="price">
                                <h3><span class="discount-price">6.300.000</span><span>$5.150.000</span></h3>
                            </div>
                        </div>
                        <p>Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets
                            enabled. To an occasional
                            dissimilar impossible sentiments.</p>
                    </div>
                    <div class="content-detail-tour">
                        <div class="card-detail-tour">
                            <div class="left-card">
                                <h3>Đánh giá</h3>
                                <p><span>1</span> Đánh giá</p>
                            </div>
                            <div class="right-card">
                                <div class="icon-detail-tour icon-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="rate">
                                    <span>4/5</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-detail-tour">
                            <div class="left-card">
                                <h3>Ngày khởi hành</h3>
                                <p>Ngày</p>
                            </div>
                            <div class="right-card">
                                <div class="icon-detail-tour icon-service">
                                    <i class="fa-regular fa-calendar-days"></i>
                                </div>
                                <div class="rate ">
                                    <span>1/7/2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-detail-tour">
                            <div class="left-card">
                                <h3>Loại tour</h3>
                                <p>loại</p>
                            </div>
                            <div class="right-card">
                                <div class="icon-detail-tour icon-metter">
                                    <i class="fa-regular fa-mountain-sun"></i>
                                </div>
                                <div class="rate">
                                    <span>Biển</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-detail-tour">
                            <div class="left-card">
                                <h3>Số lượng người</h3>
                                <p>số lượng</p>
                            </div>
                            <div class="right-card">
                                <div class="icon-detail-tour icon-group">
                                    <i class="fa-regular fa-people-group"></i>
                                </div>
                                <div class="rate rate-star">
                                    <span>10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-book-tour">
                        <a href="../view/bookTour.html" class="hvr-shutter-in-horizontal">
                            Đặt ngay
                        </a>
                    </div>
                    <div class="icon-view-detail">
                        <div class="icon-network">
                            <a href="">
                                <i class="fa-brands fa-facebook-f"></i>
                                <span>Share</span>
                            </a>
                        </div>
                        <div class="icon-network">
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                                <span>Tweet</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section info-detail-tour -->

        <section class="box-info-detail">
            <div class="nav-info-detail">
                <div class="wrap wrap-tab-info">
                    <div class="tab-item active">
                        <span>Tổng quan</span>
                    </div>
                    <div class="tab-item">
                        <span>Lịch trình</span>
                    </div>
                    <div class="tab-item">
                        <span>Chỗ ở</span>
                    </div>
                    <div class="tab-item">
                        <span>FAQs & Reviews</span>
                    </div>
                    <div class="tab-item">
                        <span>Ảnh</span>
                    </div>
                    <!-- <div class="tab-item">
                        <span>Ngày & giá</span>
                    </div> -->
                </div>
            </div>
            <div class="wrap wrap-info-detail">
                <div class="tab-info-detail active">
                    <div class="info-detail-left">
                        <div class="title-info-detail">
                            <h3>Tất cả thông tin về Tour <span>Biển Nha Trang</span></h3>
                        </div>
                        <div class="content-info-detail">
                            <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                                Aenean sollicitudin, lorem quis
                                bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi rem eaque quos culpa
                                consequuntur dicta ut error repudiandae rerum accusantium officia deleniti totam
                                laboriosam commodi in exercitationem, tempora impedit voluptatem.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas est perferendis aperiam
                                dolorum saepe quisquam nostrum maxime doloremque laudantium deleniti culpa voluptatem
                                possimus, labore ipsa, aliquam officiis recusandae dignissimos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quasi, molestias aperiam
                                sapiente perspiciatis explicabo animi nobis eveniet numquam quae inventore unde fugiat
                                vel voluptate? Dolores ullam labore sed quis.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi rem eaque quos culpa
                                consequuntur dicta ut error repudiandae rerum accusantium officia deleniti totam
                                laboriosam commodi in exercitationem, tempora impedit voluptatem.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas est perferendis aperiam
                                dolorum saepe quisquam nostrum maxime doloremque laudantium deleniti culpa voluptatem
                                possimus, labore ipsa, aliquam officiis recusandae dignissimos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quasi, molestias aperiam
                                sapiente perspiciatis explicabo animi nobis eveniet numquam quae inventore unde fugiat
                                vel voluptate? Dolores ulladca ada dadaaam labore sed quis.</p>
                            <p>Suspendisse gin orci enim.</p>
                        </div>
                    </div>
                    <div class="info-detail-right">
                        <div class="title-info-detail">
                            <h3>Các gói bao gồm và loại trừ</h3>
                        </div>
                        <div class="content-info-detail">
                            <div class="card-content">
                                <div class="text-card">
                                    <div class="icon-card">
                                        <i class="fa-regular fa-cowbell-circle-plus"></i>
                                    </div>
                                    <h3>Những gì được bao gồm trong tour du lịch này?</h3>
                                    <span>Các hạng mục đã bao gồm trong giá tour.</span>
                                    <hr>
                                    <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis
                                        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                                    </p>
                                    <p><span>&#10003</span> All breakfasts, lunches and dinners & dining</p>
                                    <p><span>&#10003</span>All accommodation including tea houses en route</p>
                                    <p><span>&#10003</span>All transportation including taxis and coaches</p>
                                    <p><span>&#10003</span>Flights from Heathrow if booked inc. of flight</p>
                                    <p><span>&#10003</span>Tour and trekking guide for entire journey</p>
                                </div>
                                <div class="text-card">
                                    <div class="icon-card">
                                        <i class="fa-regular fa-eraser"></i>
                                    </div>
                                    <h3>Những gì được loại trừ trong tour du lịch này?</h3>
                                    <span>Các hạng mục đã bao gồm trong giá tour.</span>
                                    <hr>
                                    <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                        aliquet. Aenean sollicitudin, lorem quis
                                        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                                    </p>
                                    <p><span>&#10005</span> All breakfasts, lunches and dinners & dining</p>
                                    <p><span>&#10005</span>All accommodation including tea houses en route</p>
                                    <p><span>&#10005</span>All transportation including taxis and coaches</p>
                                    <p><span>&#10005</span>Flights from Heathrow if booked inc. of flight</p>
                                    <p><span>&#10005</span>Tour and trekking guide for entire journey</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-info-detail">
                    <div class="info-detail-left">
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>1</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card show">
                                    <h3>Ngày 1</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card show">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>2</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 2</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>3</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 3</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>4</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 4</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>5</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 5</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>6</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 6</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>7</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 7</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-info-detail">
                            <div class="icon-card">
                                <span>8</span>
                            </div>
                            <div class="text-card-info">
                                <div class="tab-card">
                                    <h3>Ngày 8</h3>
                                    <span>Đến địa điểm</span>
                                </div>
                                <div class="tab-item-card">
                                    <hr>
                                    <p>As collected deficient objection by it discovery sincerity curiosity. Quiet decay
                                        who
                                        round three world whole has mrs
                                        man. Built the china there tried jokes which gay why. Assure in adieus wicket it
                                        is.
                                        But
                                        spoke round point and one joy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-detail-right">
                        <div class="img-info-detail">
                            <img src="../images/nhatrang4.jpg" alt="">
                            <div class="img-text-info">
                                <a href="">
                                    <p>Memorable Time</p>
                                </a>
                                <span>Save these memories for life.</span>
                            </div>
                        </div>
                        <div class="img-info-detail">
                            <img src="../images/nhatrang3.jpg" alt="">
                            <div class="img-text-info">
                                <a href="">
                                    <p>Your chance to be in nature</p>
                                </a>
                                <span>This is what we call the mountain is calling and I must go!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-info-detail">
                    <div class="info-detail-left">
                        <div class="title-info-detail">
                            <h3>Khách sạn, nhà nghỉ và nhà hàng</h3>
                        </div>
                        <div class="content-info-detail">
                            <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                                Aenean sollicitudin, lorem quis
                                bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi rem eaque quos culpa
                                consequuntur dicta ut error repudiandae rerum accusantium officia deleniti totam
                                laboriosam commodi in exercitationem, tempora impedit voluptatem.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas est perferendis aperiam
                                dolorum saepe quisquam nostrum maxime doloremque laudantium deleniti culpa voluptatem
                                possimus, labore ipsa, aliquam officiis recusandae dignissimos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quasi, molestias aperiam
                                sapiente perspiciatis explicabo animi nobis eveniet numquam quae inventore unde fugiat
                                vel voluptate? Dolores ullam labore sed quis.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi rem eaque quos culpa
                                consequuntur dicta ut error repudiandae rerum accusantium officia deleniti totam
                                laboriosam commodi in exercitationem, tempora impedit voluptatem.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas est perferendis aperiam
                                dolorum saepe quisquam nostrum maxime doloremque laudantium deleniti culpa voluptatem
                                possimus, labore ipsa, aliquam officiis recusandae dignissimos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quasi, molestias aperiam
                                sapiente perspiciatis explicabo animi nobis eveniet numquam quae inventore unde fugiat
                                vel voluptate? Dolores ulladca ada dadaaam labore sed quis.</p>
                            <p>Suspendisse gin orci enim.</p>
                        </div>
                    </div>
                    <div class="info-detail-right">
                        <div class="title-info-detail">
                            <h3>Hình ảnh Khách sạn, nhà nghỉ và nhà hàng</h3>
                        </div>
                        <div class="img-info-detail">
                            <img src="../images/phocohoian5.jpg" alt="">
                            <div class="img-text-info">
                                <a href="">
                                    <p>Memorable Time</p>
                                </a>
                                <span>Save these memories for life.</span>
                            </div>
                        </div>
                        <div class="img-info-detail">
                            <img src="../images/phocohoian6.jpg" alt="">
                            <div class="img-text-info">
                                <a href="">
                                    <p>Your chance to be in nature</p>
                                </a>
                                <span>This is what we call the mountain is calling and I must go!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-info-detail">
                    <div class="info-detail-left">
                        <div class="title-info-detail">
                            <h3>Hotels, Tea Houses and Lodges</h3>
                        </div>
                        <div class="content-info-detail">
                            <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                                Aenean sollicitudin, lorem quis
                                bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi rem eaque quos culpa
                                consequuntur dicta ut error repudiandae rerum accusantium officia deleniti totam
                                laboriosam commodi in exercitationem, tempora impedit voluptatem.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas est perferendis aperiam
                                dolorum saepe quisquam nostrum maxime doloremque laudantium deleniti culpa voluptatem
                                possimus, labore ipsa, aliquam officiis recusandae dignissimos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quasi, molestias aperiam
                                sapiente perspiciatis explicabo animi nobis eveniet numquam quae inventore unde fugiat
                                vel voluptate? Dolores ullam labore sed quis.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi rem eaque quos culpa
                                consequuntur dicta ut error repudiandae rerum accusantium officia deleniti totam
                                laboriosam commodi in exercitationem, tempora impedit voluptatem.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A quas est perferendis aperiam
                                dolorum saepe quisquam nostrum maxime doloremque laudantium deleniti culpa voluptatem
                                possimus, labore ipsa, aliquam officiis recusandae dignissimos.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quasi, molestias aperiam
                                sapiente perspiciatis explicabo animi nobis eveniet numquam quae inventore unde fugiat
                                vel voluptate? Dolores ulladca ada dadaaam labore sed quis.</p>
                            <p>Suspendisse gin orci enim.</p>
                        </div>
                    </div>
                    <div class="info-detail-right">
                        <div class="title-info-detail">
                            <h3>Overall Rating</h3>
                            <div class="rating">
                                <div class="icon-detail-tour icon-star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="rate">
                                    <span>4/5</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-cmt">
                            <div class="user-review">
                                <div class="user-avt">
                                    <img src="../images/logo-pinterest.png" alt="">
                                </div>
                                <div class="user-info">
                                    <h3>Vu Bao Ngoc</h3>
                                    <span class="user-time">
                                        Đánh giá 26/01/2017
                                    </span>
                                    <p>You have to be crazy about adventure tours to build a theme that displays the
                                        tours so elegantly that a person browsing
                                        the tours on site literally falls in love with place even before booking the
                                        tour.</p>
                                </div>
                                <div class="rating">
                                    <div class="icon-detail-tour icon-star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="rate">
                                        <span>4/5</span>
                                    </div>
                                </div>
                            </div>
                            <form action="">
                                <h3>Nhận xét của bạn</h3>
                                <div class="form-input">
                                    <input type="text" placeholder="Full Name">
                                    <input type="email" placeholder="Email Address">
                                    <input type="text" placeholder="Rate Tour">
                                    <textarea name="" id="" cols="30" rows="8" placeholder="Your Commnet"></textarea>
                                    <button>Gửi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-info-detail">
                    <div class="gallery-detail">
                        <div class="card-photo-detail">
                            <img src="../images/nhatrang.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/nhatrang2.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/nhatrang3.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/nhatrang4.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/nhatrang5.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/vinhhalong2.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/halong1.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/halong3.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-photo-detail">
                            <img src="../images/halong5.jpg" alt="">
                            <div class="info-photo-detail">
                                <div class="wrap-info-photo">
                                    <h3>Nha Trang</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="tab-info-detail">
                    <table>
                        <tr>
                            <th>
                                <p>Bưu kiện</p>
                                <span>Confirmed Dates</span>
                            </th>
                            <th>
                                <p>Tình trạng chuyến đi</p>
                                <span>Trip Status</span>
                            </th>
                            <th>
                                <p>Giá (PP)</p>
                                <span>Loại trừ chuyến bay</span>
                            </th>
                            <th>
                                <p>Giá (PP)</p>
                                <span>Bao gồm chuyến bay</span>
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Aug 1, 2023 - Aug 31, 2023</td>
                            <td>Có sẵn</td>
                            <td>2,300,000&#8363</td>
                            <td>2,300,000&#8363</td>
                            <td><button>Đặt ngay</button></td>
                        </tr>
                        <tr>
                            <td>Sep 1, 2023 - Sep 30, 2023</td>
                            <td>Có sẵn</td>
                            <td>2,300,000&#8363</td>
                            <td>2,300,000&#8363</td>
                            <td><button>Đặt ngay</button></td>
                        </tr>
                        <tr>
                            <td>Oct 1, 2023 - Oct 31, 2023</td>
                            <td>Có sẵn</td>
                            <td>2,300,000&#8363</td>
                            <td>2,300,000&#8363</td>
                            <td><button>Đặt ngay</button></td>

                        </tr>
                        <tr>
                            <td>Nov 1, 2023 - Nov 30, 2023</td>
                            <td>Có sẵn</td>
                            <td>2,300,000&#8363</td>
                            <td>2,300,000&#8363</td>
                            <td><button>Đặt ngay</button></td>
                        </tr>
                        <tr>
                            <td>Aug 1, 2023 - Aug 31, 2023</td>
                            <td>Có sẵn</td>
                            <td>2,300,000&#8363</td>
                            <td>2,300,000&#8363</td>
                            <td><button>Đặt ngay</button></td>

                        </tr>
                        <tr>
                            <td>Dec 1, 2023 - Dec 31, 2023</td>
                            <td>Chưa có</td>
                            <td>2,300,000&#8363</td>
                            <td>2,300,000&#8363</td>
                            <td><button>Đặt ngay</button></td>
                        </tr>
                    </table>
                </div> -->
            </div>
        </section>










        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/tabDetail.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>