<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../css/blog.css">
        <link rel="stylesheet" href="../css/detailBlog.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>Blog</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/cauvang2.png" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Blogs</h1>
                <span>Create your blog pages in seconds!</span>
                <div class="back-page">
                    <a href="./index.html">Home</a>
                    <a href="./blog.html">Blog</a>
                </div>
            </div>
        </section>

        <!-- Section Blog -->

        <section class="box-page-blog">
            <div class="wrap wrap-page-blog">
                <div class="content-blog">
                    <h1>Nha Trang - Thiên đường nghỉ dưỡng</h1>
                    <div class="img-view-blog">
                        <img src="../images/nhatrang4.jpg" alt="">
                    </div>
                    <div class="text-view-blog">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est optio quos exercitationem
                            delectus nulla, illo incidunt sint eligendi reprehenderit, minima, id deserunt ad! Modi
                            consectetur quisquam nam excepturi, quia maiores.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, culpa, atque et fugiat
                            libero mollitia fuga excepturi sit, temporibus harum nesciunt veritatis est qui aut eos
                            doloribus eius. Est, suscipit.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus labore, cupiditate
                            quaerat soluta, nemo illum quibusdam esse laboriosam ducimus aut culpa dolor ex, iste
                            excepturi nulla praesentium maxime tenetur autem.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo. Nemo enim ipsam
                            voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                        <div class="author-view">
                            <p>Đăng bởi <a href="">Admin</a></p>
                            <p><a href=""><span>3</span> Bình luận</a></p>
                            <div class="btn-share">
                                <i class="fa-solid fa-share-nodes share">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="fa-brands fa-facebook-f"></i>
                                                <span>Share</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa-brands fa-twitter"></i>
                                                <span>Tweet</span>
                                            </a>
                                        </li>
                                    </ul>
                                </i>
                            </div>
                        </div>
                        <div class="btn-view">
                            <button>
                                <i class="fa-solid fa-chevron-left"></i>
                                Trước
                            </button>
                            <button>
                                Sau
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="commnet-view-blog">
                        <div class="total-cmt">
                            <p><span>3</span> thoughts on “Luxury Tours in Bahamas”</p>
                        </div>
                        <div class="cmt-detail">
                            <div class="user-avt">
                                <img src="../images/nhatrang2.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <a href="">
                                    <h3>Admin</h3>
                                </a>
                                <p>
                                    Ngày bình luận
                                    <span class="user-time">
                                        22/0/2023 - 21:00
                                    </span>
                                </p>
                                <input type="checkbox" id="check-1">
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and
                                    1.10.33 from \"de Finibus Bonorum et Malorum\" by Cicero are also reproduced in
                                    their exact original form, accompanied
                                    by English versions from the 1914 translation by H. Rackham.</p>
                                <p class="cmt">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum iste
                                    labore est omnis reiciendis sunt minus amet? Ipsam fugiat quo dolorum dolorem
                                    molestiae tempora modi sunt reiciendis deserunt. Optio.
                                </p>
                                <div class="react-cmt">
                                    <label for="check-1">Xem thêm</label>
                                    <span>Phản hồi</span>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-detail">
                            <div class="user-avt">
                                <img src="../images/nhatrang2.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <a href="">
                                    <h3>Admin</h3>
                                </a>
                                <p>
                                    Ngày bình luận
                                    <span class="user-time">
                                        22/0/2023 - 21:00
                                    </span>
                                </p>
                                <input type="checkbox" id="check-2">
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and
                                    1.10.33 from \"de Finibus Bonorum et Malorum\" by Cicero are also reproduced in
                                    their exact original form, accompanied
                                    by English versions from the 1914 translation by H. Rackham.</p>
                                <p class="cmt">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum iste
                                    labore est omnis reiciendis sunt minus amet? Ipsam fugiat quo dolorum dolorem
                                    molestiae tempora modi sunt reiciendis deserunt. Optio.
                                </p>
                                <div class="react-cmt">
                                    <label for="check-2">Xem thêm</label>
                                    <span>Phản hồi</span>
                                </div>
                            </div>
                        </div>
                        <div class="cmt-detail">
                            <div class="user-avt">
                                <img src="../images/nhatrang2.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <a href="">
                                    <h3>Admin</h3>
                                </a>
                                <p>
                                    Ngày bình luận
                                    <span class="user-time">
                                        22/0/2023 - 21:00
                                    </span>
                                </p>
                                <input type="checkbox" id="check-3">
                                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                    interested. Sections 1.10.32 and
                                    1.10.33 from \"de Finibus Bonorum et Malorum\" by Cicero are also reproduced in
                                    their exact original form, accompanied
                                    by English versions from the 1914 translation by H. Rackham.</p>
                                <p class="cmt">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum iste
                                    labore est omnis reiciendis sunt minus amet? Ipsam fugiat quo dolorum dolorem
                                    molestiae tempora modi sunt reiciendis deserunt. Optio.
                                </p>
                                <div class="react-cmt">
                                    <label for="check-3">Xem thêm</label>
                                    <span>Phản hồi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-reply-cmt">
                        <h3 class="sub-rep-user">Bình luận</h3>
                        <form class="form-reply">
                            <input type="text" placeholder="Tên của bạn" required>
                            <input type="Email" name="" id="" placeholder="Email" required>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Bình luận"></textarea>
                            <span><input type="checkbox" id="checkbox" readonly>
                                Lưu tên, email của tôi trong trình duyệt này cho phần bình luận tiếp theo.
                            </span>
                            <button>Post your comment</button>
                        </form>
                    </div>
                </div>
                <div class="select-blog">
                    <div class="search-blog">
                        <input type="text" placeholder="Search...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <div class="nav-select-blog">
                        <ul class="nav-blog">
                            <li>
                                <span class="show-select">
                                    <p>Bài viết khác</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-tour-blog">
                                    <li>
                                        <a href="">
                                            Scuba Diving To Do’s & Don’t
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Luxury Tours in Bahamas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Amazing Tips for Tour Guides
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Top Tour Destination of 2023
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="show-select">
                                    <p>Blog Tags</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-icon-blog">
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-snowboarding"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-city"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-crosshairs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-biking"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-sailboat"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-swimming"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-hippo"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-person-snowboarding"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="fa-solid fa-umbrella-beach"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="show-select">
                                    <p>Ảnh</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-img-blog">
                                    <li>
                                        <a href="">
                                            <img src="../images/nhatrang.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/nhatrang.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/nhatrang2.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/nhatrang3.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/nhatrang4.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/nhatrang5.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>