<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/blog.css">
        <link rel="stylesheet" href="../css/detailDestination.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>Chi tiết địa điểm</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/cauvang2.png" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Chi tiết địa điểm</h1>
                <span>Create your blog pages in seconds!</span>
                <div class="back-page">
                    <a href="../view/index.html">Trang chủ</a>
                    <a href="../view/destination.html">Địa điểm</a>
                    <a>Chi tiết địa điểm</a>
                </div>
            </div>
        </section>

        <!-- Section Blog -->

        <section class="box-page-blog">
            <div class="wrap wrap-page-blog">
                <div class="content-page-blog">
                    <h3>Mùa hè lý tưởng ở Hạ Long - Top 5 hoạt động trải nghiệm được yêu thích nhất</h3>
                    <p>Du lịch Vịnh Hạ Long từ lâu đã trở thành điểm đến lý tưởng trong mỗi dịp hè của du khách bốn
                        phương, đặc biệt là giới
                        trẻ. Hãy tận hưởng chuyến du lịch hè trẻ trung, năng động với các hoạt động thú vị ở đây như
                        chèo thuyền Kayak, các trò
                        chơi dưới nước và dịch vụ nghỉ dưỡng tại bãi biển mới Manira Bay… để có những trải nghiệm và kỷ
                        niệm tuyệt vời nhất bạn
                        nhé!</p>
                    <p>Hạ Long luôn được lòng tất cả du khách viếng thăm trong những ngày hè nóng bức, bởi sở hữu một
                        trong những vùng vịnh
                        biển đẹp bậc nhất thế giới. Với khí hậu mát mẻ lại sở hữu nhiều bãi biển thiên đường và dịch vụ
                        nghỉ dưỡng cao cấp, bạn
                        sẽ có một kỳ nghỉ đúng chất nhất tại Vịnh Hạ Long với các trải nghiệm sau đây:</p>
                    <div class="img-post">
                        <h4 class="title-img-post">
                            Lặn biển khám phá lòng đại dương
                        </h4>
                        <img src="../images/halong2.jpg" alt="">
                        <p class="content-img-post">Với hệ thống đảo đá và hang động tuyệt vời, vùng biển này mang trong
                            mình những bí mật kỳ bí
                            và
                            độc đáo mà chỉ có thể
                            khám phá dưới lòng biển. Nơi đây, các tín đồ lặn biển có cơ hội khám phá thế giới dưới nước
                            với
                            hàng trăm loài cá, bọt
                            biển và các sinh vật khác sinh sống trong môi trường đa dạng này. Đặc biệt là các rạn san hô
                            tuyệt đẹp ở Vịnh Bái Tử
                            Long. Tại đây có rất nhiều rạn san hô lớn, nhiều màu sắc và có nhiều động vật nhỏ sinh sống.
                            Nước biển cũng xanh trong
                            nên rất thích hợp để lặn ngắm san hô. Đã tới Hạ Long, bạn không nên bỏ lỡ trải nghiệm thú vị
                            này.</p>
                    </div>

                    <div class="img-post">
                        <h4 class="title-img-post">
                            Trải nghiệm dù lượn trên biển Hạ Long
                        </h4>
                        <img src="../images/halong4.jpg" alt="">
                        <p class="content-img-post">Trải nghiệm cảm giác bay lượn trên không cũng là một trong những
                            hoạt động du lịch ưa chuộng trong những ngày hè tại Hạ
                            Long. Bạn sẽ tận hưởng cảm giác băng mình trong không trung, thu vào tầm mắt toàn bộ bãi
                            biển với cát trắng, biển xanh
                            mênh mông. Hay đơn giản nằm phơi mình giữa không gian biển đảo ngắm trời xanh mây trắng,
                            nghe sóng vỗ rì rào… thật thú
                            vị biết bao.</p>
                    </div>

                    <!-- <div class="other-new-post">
                        <h4>Bài viết về Hạ Long</h4>
                        <ul>
                            <li>
                                <a href="">
                                    Tràng An, Vịnh Hạ Long đánh cắp trái tim du khách bằng vẻ đẹp hữu tình
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Khám phá một Hạ Long khác biệt
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Vietravel Quảng Ninh giới thiệu sản phẩm tại Lễ hội Hoa Anh Đào - Mai Vàng Yên Tử,
                                    Hạ
                                    Long 2023
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Khám phá Hạ Long khác biệt từ du thuyền 4 sao
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Hạ Long - Thiên đường nghỉ dưỡng
                                </a>
                            </li>
                            <li><a href="">
                                    Du ngoạn Vịnh Hạ Long từ không trung
                                </a>
                            </li>
                        </ul>
                    </div> -->


                </div>
                <div class="select-blog">
                    <!-- <div class="search-blog">
                        <input type="text" placeholder="Search...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div> -->
                    <div class="nav-select-blog">
                        <ul class="nav-blog">
                            <li>
                                <span class="show-select open">
                                    <p>Bài viết khác</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-tour-blog">
                                    <li>
                                        <a href="">
                                            Hà Nội - thủ đô ngàn năm văn hiến
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Sapa - Phố núi trong sương
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Tràng An - Hạ Long trên cạn
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Phố cổ Hội An
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="show-select open">
                                    <p>Gallery</p>
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                                <ul class="drop-nav-blog nav-img-blog">
                                    <li>
                                        <a href="../images/hoguom.jpg" data-fancybox="gallery">
                                            <img src="../images/hoguom.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../images/halong4.jpg" data-fancybox="gallery">
                                            <img src="../images/halong4.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../images/sapa2.jpg" data-fancybox="gallery">
                                            <img src="../images/sapa2.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../images/dalat.jpg" data-fancybox="gallery">
                                            <img src="../images/dalat.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../images/hohoankiem.jpg" data-fancybox="gallery">
                                            <img src="../images/hohoankiem.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../images/hagiang2.jpg" data-fancybox="gallery">
                                            <img src="../images/hagiang2.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/w3-import.js"></script>




    </body>

</html>