<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Travel Tour</title>
    </head>

    <body>

        <!-- Footer -->

        <footer class="box-footer">
            <div class="wrap wrap-footer">
                <div class="logo-company">
                    <a href="../view/index.html">
                        <img src="../images/logo-VNTRAVEL.png" alt="">
                    </a>
                </div>
                <div class="list-footer">
                    <div class="menu-footer">
                        <a href="../view/index.html">Trang chủ</a>
                        <a href="../view/aboutus.html">Về chúng tôi</a>
                        <a href="../view/destination.html">Địa điểm</a>
                        <a href="../view/tour.html">Tours</a>
                        <a href="../view/gallery.html">Thư viện</a>
                        <a href="../view/blog.html">Bài viết</a>
                    </div>
                    <div class="support-footer">
                        <span>Support</span>
                        <a href="#">Contact Us</a>
                        <a href="#">Our Partner</a>
                        <a href="#">Chính sách và bảo mật</a>
                        <a href="#">Chính sách hoàn tiền</a>
                    </div>
                    <div class="contact-footer">
                        <span>Contact</span>
                        <a href="tel:0387094970">
                            <i class="fa-regular fa-phone"></i>
                            <span>038-709-4970</span>
                        </a>
                        <a href="#">
                            <i class="fa-regular fa-envelope"></i>
                            <span>vbngoc211201@gmail.com</span>
                        </a>
                        <a href="#">
                            <i class="fa-regular fa-location-dot"></i>
                            <span>59 SN, P.Đức Thắng, Q.Bắc Từ Liêm, Hà Nội</span>
                        </a>
                        <div class="contact-icon">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-footer">
                <span>© Copyright 2023 - VN Travel - An Travel Theme - by Vu Bao Ngoc</span>
            </div>
        </footer>




        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"
            integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
            integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="../js/app.js"></script>
        <script src="../js/w3-import.js"></script>

    </body>

</html>