<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <title>Quên mật khẩu - VN Travel</title>
  </head>

  <body>
    <!-- layout-page -->
    <div w3-include-html="navbar.html"></div>

    <!-- Section home -->
    <section class="box-banner">
      <img src="../images/dalat2.jpg" alt="" />
      <div class="filter-bg"></div>
      <div class="wrap title-banner">
        <h1>Lấy lại mật khẩu</h1>
        <span>Welcome to VN Travel</span>
        <div class="back-page">
          <a href="../view/index.html">Trang chủ</a>
          <a>Quên mật khẩu</a>
        </div>
      </div>
    </section>

    <!-- Section contact us -->

    <!-- Section User Account -->

    <section class="box-info-detail">
      <div class="wrap wrap-info-detail">
        <div class="tab-info-detail">
          <form class="content-info-detail">
            <h3>Lấy lại mật khẩu</h3>
            <label for="acc">Tài khoản</label>
            <input type="text" id="acc" required />

            <label for="phone">Số điện thoại</label>
            <input type="text" id="phone" required />

            <button class="btn-login">Lấy lại mật khẩu</button>
            <div class="support">
              <div class="toRegister">
                Bạn đã có tài khoản?
                <a href="../view/log-acc.html"> Đăng nhập </a>
              </div>
              <div class="toRegister">
                Bạn chưa có tài khoản?
                <a href="../view/register-acc.html"> Đăng ký </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->

    <div w3-include-html="footer.html"></div>

    <!-- script  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="../js/w3-import.js"></script>
  </body>
</html>
