<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
    />
    <title>Ảnh - VN Travel</title>
  </head>

  <body>
    <!-- layout-page -->
    <div w3-include-html="navbar.html"></div>

    <!-- Section home -->
    <section class="box-banner">
      <img src="../images/ninhbinh2.jpeg" alt="" />
      <div class="filter-bg"></div>
      <div class="wrap title-banner">
        <h1>Thư viện ảnh</h1>
        <span>The Best for Our Customers</span>
        <div class="back-page">
          <a href="../view/index.html">Trang chủ</a>
          <a>Ảnh</a>
        </div>
      </div>
    </section>

    <!-- Section gallery -->

    <section class="box-gallery">
      <div class="wrap wrap-gallery">
        <div
          class="image-gallery"
          href="../images/hoguom.jpg"
          data-fancybox="gallery"
        >
          <img src="../images/hohoankiem.jpg" alt="" />
        </div>
        <div
          class="image-gallery"
          href="../images/chumotcot.jpg"
          data-fancybox="gallery"
        >
          <img src="../images/chumotcot.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/cauvang.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/codohue.jpeg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/codohue2.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/dalat.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/hoguom.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/nhatrang.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/sapa2.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/hohoankiem.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/codohue3.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/hagiang.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/vinhhalong2.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ruongbacthang2.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/phocohoian.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/halong1.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/halong6.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/phocohoian2.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/halong3.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/halong1.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ruongbacthang5.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ruongbacthang4k.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/dalat3.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/nhatrang4.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/dalat4.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/phocohoian6.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/phocohoian3.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ninhbinh1.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ninhbinh2.jpeg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ninhbinh3.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/ninhbinh.jpg" alt="" />
        </div>
        <div class="image-gallery">
          <img src="../images/hagiang2.jpg" alt="" />
        </div>
      </div>
    </section>

    <!-- Footer -->

    <div w3-include-html="footer.html"></div>

    <!-- script  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="../js/w3-import.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
