<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Travel Tour</title>
    </head>

    <body>

        <!-- navbar -->

        <nav class="box-navbar" id="box-navbar">
            <div class="wrap wrap-navbar">
                <div class="box-logo">
                    <a href="./index.html">
                        VN Travel
                    </a>
                </div>
                <div class="box-menu" id="box-menu">
                    <div class="wrap-menu" id="wrap-menu">
                        <ul class="menu">
                            <li>
                                <a href="./index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Destinations
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Tours
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Gallery
                                </a>
                            </li>
                            <li>
                                <a href="../view/blog.html">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Contact
                                </a>
                            </li>
                            <div class="underline-menu"></div>
                        </ul>
                    </div>
                </div>
                <div class="box-cta">
                    <a href="#" class="cta-search">
                        <i class="fa-light fa-magnifying-glass"></i>
                    </a>
                    <a href="#" class="cta-user">
                        <i class="fa-light fa-circle-user"></i>
                    </a>
                </div>
            </div>
        </nav>

        <!-- Scroll to top -->

        <div class="scroll-to-top" id="scroll-to-top">
            <i class="fa-regular fa-angle-down"></i>
        </div>

        <!-- Section home -->

        <section class="box-home">
            <img src="../images/bg.png" id="bg">
            <img src="../images/moutain1.png" id="moutain1">
            <img src="../images/moutain2.png" id="moutain2">
            <img src="../images/moutain3.png" id="moutain3">
            <img src="../images/moutain4.png" id="moutain4">
            <img src="../images/moutain5.png" id="moutain5">
            <img src="../images/boat.png" id="boat">
            <img src="../images/cloud2.png" id="cloud2">
            <div class="title" id="title">
                <span>
                    Travel
                </span>
                <h1>Viet Nam</h1>
            </div>
        </section>

        <!-- Section Detinations -->

        <section class="box-destination" id="box-destination">
            <div class="wrap wrap-destination">
                <div class="title-destination">
                    <h3>Địa điểm phổ biến</h3>
                    <a href="#">
                        Xem tất cả
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="content-destination">
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/hohoankiem.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Hà Nội</h4>
                            <p>Một thành phố đầy lịch sử, văn hóa và kiến trúc, là điểm đến du lịch hấp dẫn với nhiều di
                                tích, danh thắng và đặc sản ẩm
                                thực.
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/ninhbinh.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Ninh Bình</h4>
                            <p>Một tỉnh thuộc miền Trung Bắc Việt Nam. Tại đây
                                có thể tham gia các hoạt động như chèo thuyền trên sông, leo núi, ngắm cảnh, tắm suối,
                                thưởng thức ẩm thực đặc sản của
                                vùng
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Cố Đô Huế</h4>
                            <p>Một thành phố ở miền Trung Việt Nam. Tại đây
                                có thể khám phá lịch sử, văn hóa, ẩm thực của Huế, tham quan các di tích, thưởng thức
                                các món ăn đặc trưng.
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/phocohoian2.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Phố Cổ - Hội An</h4>
                            <p>Một khu phố cổ còn nguyên vẹn và rất đẹp ở miền Trung Việt Nam. Nơi đây có nhiều di tích
                                kiến trúc và văn hóa và
                                có thể thưởng thức ẩm thực đặc trưng của Hội An.
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/halong1.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Hạ Long Bay</h4>
                            <p>Một trong những điểm đến du lịch hàng đầu ở Việt Nam.
                                Nơi đây có hơn 1.600 hòn đảo đá vôi nổi tiếng trên thế giới với cảnh quan tuyệt đẹp,
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Tours -->

        <section class="box-tour">
            <div class="wrap wrap-tour">
                <div class="title-tour">
                    <h3>Tour phổ biến</h3>
                    <a href="#">
                        Xem tất cả
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="list-tour slide-tour">
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Cố Đô Huế</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>

                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/phocohoian5.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Phố cổ Hội An</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>

                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/nhatrang.jpg" alt="">

                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Nha Trang</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>

                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/sapa2.jpg" alt="">

                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Sapa</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>
                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/sapa2.jpg" alt="">

                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Sapa</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>
                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Cố Đô Huế</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>

                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Cố Đô Huế</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="price-tour">
                                <span class="price-old">
                                    3,000,000 VNĐ
                                </span>
                                <span class="price-new">
                                    2,500,000 VNĐ
                                </span>
                            </div>

                            <div class="btn-card-tour">
                                <button class="btn-view">
                                    <a href="#">
                                        Xem chi tiết
                                    </a>
                                </button>
                                <button class="btn-book">
                                    <a href="#">
                                        <i class="fa-light fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section comment -->

        <section class="box-comment">
            <img src="../images/halong6.jpg" alt="">
            <div class="wrap-comment">
                <div class="title-cmt">
                    <span>Testimonials</span>
                    <h2>
                        Mọi người nói về chúng tôi
                    </h2>
                </div>
                <div class="line"></div>
                <div class="list-cmt">
                    <div class="post-cmt">
                        <div class="post-content">
                            Tất cả những ai thích đi bộ xung quanh những chuyến đi mới nên sử dụng trang web này để có
                            thêm ý tưởng! bạn bè của tôi
                            và tôi rất thích các tour du lịch của
                            các bạn, được đề nghị và muốn thử một cái gì đó mới vào lần tới. Cảm ơn!
                        </div>
                        <div class="info-client">
                            <h4>Nami N.</h4>
                            <div class="vote-star">
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-cmt">
                        <div class="post-content">
                            Cảm ơn bạn rất nhiều vì những chuyến đi tuyệt vời và những hướng dẫn thú vị! Chúng tôi yêu
                            thích
                            kỳ nghỉ mà chúng tôi đã thực hiện vào tuần trước.
                            Nó chính xác như chúng tôi tưởng tượng, và thậm chí còn tốt hơn! Rất khuyến khích mọi người
                            dùng VNTour.
                        </div>
                        <div class="info-client">
                            <h4>San J.</h4>
                            <div class="vote-star">
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Blog -->

        <section class="box-blog">
            <div class="wrap wrap-blog">
                <div class="title-blog">
                    <h3>Bài viết gần đây</h3>
                    <a href="#">
                        Xem tất cả
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="list-blog slide-blog">
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//ninhbinh2.jpeg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//phocohoian4.jpg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//nhatrang3.jpg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//ninhbinh2.jpeg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Partner -->

        <section class="box-partner">
            <div class="wrap wrap-partner">
                <div class="title-partner">
                    <h3>Our Partner</h3>
                </div>
                <div class="list-partner slide-partner">
                    <div class="logo-partner">
                        <img src="../images/logo-partner.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-pinterest.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-partner.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-pinterest.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-partner.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-pinterest.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->

        <footer class="box-footer">
            <div class="wrap wrap-footer">
                <div class="logo-company">
                    <a href="#">
                        VN Travel
                    </a>
                </div>
                <div class="list-footer">
                    <div class="menu-footer">
                        <a href="#">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Destinations</a>
                        <a href="#">Tours</a>
                        <a href="#">Gallery</a>
                        <a href="#">Blog</a>
                    </div>
                    <div class="support-footer">
                        <span>Support</span>
                        <a href="#">Contact Us</a>
                        <a href="#">Our Partner</a>
                        <a href="#">Chính sách và bảo mật</a>
                        <a href="#">Chính sách hoàn tiền</a>
                    </div>
                    <div class="contact-footer">
                        <span>Contact</span>
                        <a href="tel:0387094970">
                            <i class="fa-regular fa-phone"></i>
                            <span>038-709-4970</span>
                        </a>
                        <a href="#">
                            <i class="fa-regular fa-envelope"></i>
                            <span>vbngoc211201@gmail.com</span>
                        </a>
                        <a href="#">
                            <i class="fa-regular fa-location-dot"></i>
                            <span>59 SN, P.Đức Thắng, Q.Bắc Từ Liêm, Hà Nội</span>
                        </a>
                        <div class="contact-icon">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-footer">
                <span>© Copyright 2023 - VN Travel - An Travel Theme - by Vu Bao Ngoc</span>
            </div>
        </footer>



        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="./w3-include-js.js"></script>

    </body>

</html>