<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Travel Tour</title>
    </head>

    <body>

        <!-- navbar -->

        <nav class="box-navbar" id="box-navbar">
            <div class="wrap-navbar">
                <div class="box-logo">
                    <a href="#">
                        Your Logo
                    </a>
                </div>
                <div class="box-menu" id="box-menu">
                    <div class="wrap-menu" id="wrap-menu">
                        <ul class="menu">
                            <li>
                                <a href="#box-home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Destinations
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Tours
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Contact
                                </a>
                            </li>
                            <div class="underline-menu"></div>
                        </ul>
                    </div>
                </div>
                <div class="box-cta">
                    <a href="#" class="cta-search">
                        <i class="fa-light fa-magnifying-glass"></i>
                    </a>
                    <a href="#" class="cta-user">
                        <i class="fa-light fa-circle-user"></i>
                    </a>
                </div>
            </div>
        </nav>

        <!-- Scroll to top -->

        <div class="scroll-to-top" id="scroll-to-top">
            <i class="fa-regular fa-angle-down"></i>
        </div>

        <!-- Section home -->

        <section class="box-home">
            <img src="../images/bg.png" id="bg">
            <img src="../images/moutain1.png" id="moutain1">
            <img src="../images/moutain2.png" id="moutain2">
            <img src="../images/moutain3.png" id="moutain3">
            <img src="../images/moutain4.png" id="moutain4">
            <img src="../images/moutain5.png" id="moutain5">
            <img src="../images/boat.png" id="boat">
            <img src="../images/cloud1.png" id="cloud1">
            <img src="../images/cloud2.png" id="cloud2">
            <div class="title" id="title">
                <span>
                    Travel
                </span>
                <h1>Viet Nam</h1>
            </div>
        </section>

        <!-- <section class="box-home" id="box-home">
            <div class="wrap-home">
                <div class="slider-home">
                    <div class="slide-home">
                        <img src="../images/ninhbinh2.jfif" alt="">
                        <div class="filter-bg"></div>
                        <div class="title-home">
                            <span>Start your journey now!</span>
                            <h1>Travel & Enjoy Your Life</h1>
                            <div class="line"></div>
                            <p>
                                Traveling to another place in the world is a great tool for getting to know yourself
                                better.
                            </p>
                        </div>
                    </div>
                    <div class="slide-home">
                        <img src="../images/ruongbacthang4k.jpg" alt="">
                        <div class="filter-bg"></div>
                        <div class="title-home">
                            <span>Start your journey now!</span>
                            <h1>Find Perfect Destination</h1>
                            <div class="line"></div>
                            <p>
                                We have created a service to help you find your best destination in the World according
                                to special criteria.
                            </p>
                        </div>
                    </div>
                    <div class="slide-home">
                        <img src="../images/halong4.jpg" alt="">
                        <div class="filter-bg"></div>
                        <div class="title-home">
                            <span>Start your journey now!</span>
                            <h1>Small Group Adventure</h1>
                            <div class="line"></div>
                            <p>
                                Our small group style of travel means you’ll stay under the radar,
                                and travel, eat and sleep the local way.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-form">
                <div class="input">
                    <label for="">Keyword</label>
                    <input type="text">
                </div>
                <div class="input">
                    <label for="">Trip Type</label>
                    <select name="" id="">
                        <option value="1">All</option>
                        <option value="2">Active Tours</option>
                        <option value="3">Family Tours</option>
                        <option value="4">Food Tours</option>
                        <option value="5">Wildfire Tours</option>
                    </select>
                </div>
                <div class="input">
                    <label>Location</label>
                    <select name="" id="">
                        <option value="1">All</option>
                        <option value="2">African Safari</option>
                        <option value="3">Asia</option>
                        <option value="4">Europe</option>
                        <option value="5">Himalaya</option>
                        <option value="6">South & North America</option>
                    </select>
                </div>
                <div class="button-search">
                    <button>Search</button>
                </div>
            </div>
            <div class="box-icon-contact">
                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
            <div class="start-here">
                <a href="#box-destination">
                    <p>Xem ngay</p>
                    <i class="fa-light fa-angle-down"></i>
                </a>
            </div>
        </section> -->

        <section></section>

        <!-- Section Detinations -->

        <section class="box-destination" id="box-destination">
            <div class="wrap wrap-destination">
                <div class="title-destination">
                    <h3>Popular Destinations</h3>
                    <a href="#">
                        View All Destination
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="content-destination">
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/hohoankiem.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Hà Nội</h4>
                            <p>Một thành phố đầy lịch sử, văn hóa và kiến trúc, là điểm đến du lịch hấp dẫn với nhiều di
                                tích, danh thắng và đặc sản ẩm
                                thực.
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/ninhbinh.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Ninh Bình</h4>
                            <p>Một tỉnh thuộc miền Trung Bắc Việt Nam. Tại đây
                                có thể tham gia các hoạt động như chèo thuyền trên sông, leo núi, ngắm cảnh, tắm suối,
                                thưởng thức ẩm thực đặc sản của
                                vùng
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Cố Đô Huế</h4>
                            <p>Một thành phố ở miền Trung Việt Nam. Tại đây
                                có thể khám phá lịch sử, văn hóa, ẩm thực của Huế, tham quan các di tích, thưởng thức
                                các món ăn đặc trưng.
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/phocohoian2.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Phố Cổ - Hội An</h4>
                            <p>Một khu phố cổ còn nguyên vẹn và rất đẹp ở miền Trung Việt Nam. Nơi đây có nhiều di tích
                                kiến trúc và văn hóa và
                                có thể thưởng thức ẩm thực đặc trưng của Hội An.
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/halong1.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <h4>Hạ Long Bay</h4>
                            <p>Một trong những điểm đến du lịch hàng đầu ở Việt Nam.
                                Nơi đây có hơn 1.600 hòn đảo đá vôi nổi tiếng trên thế giới với cảnh quan tuyệt đẹp,
                            </p>
                            <a href="#">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Tours -->







        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>

    </body>

</html>