<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css"
            integrity="sha512-MQXduO8IQnJVq1qmySpN87QQkiR1bZHtorbJBD0tzy7/0U9+YIC93QWHeGTEoojMVHWWNkoCp8V6OzVSYrX0oQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Travel Tour</title>
    </head>

    <body>

        <!-- navbar -->

        <nav class="box-navbar" id="box-navbar">
            <div class="wrap wrap-navbar">
                <div class="box-logo" id="box-logo">
                    <button type="button" id="menu-child">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </button>
                    <a href="./index.html">
                        VN Travel
                    </a>
                </div>
                <div class="box-menu" id="box-menu">
                    <div class="wrap-menu" id="wrap-menu">
                        <ul class="menu">
                            <li>
                                <a href="./index.html">
                                    Trang chủ
                                </a>
                            </li>
                            <li>
                                <a href="../view/aboutus.html">
                                    Về chúng tôi
                                </a>
                            </li>
                            <li>
                                <a href="../view/destination.html">
                                    Địa điểm
                                </a>
                            </li>
                            <li>
                                <a href="../view/tour.html">
                                    Tours
                                </a>
                            </li>
                            <li>
                                <a href="../view/blog.html">
                                    Bài viết
                                </a>
                            </li>
                            <li>
                                <a href="../view/contact.html">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-cta">
                    <a class="cta-search" id="cta-search">
                        <i class="fa-light fa-magnifying-glass"></i>
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                    </a>
                    <a class="cta-user" id="cta-user">
                        <i class="fa-light fa-user"></i>
                        <i class="fa-solid fa-user-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="wrap-form" id="wrap-form">
                <form action="" class="wrap">
                    <div class="location">
                        <label for="">Địa điểm</label>
                        <select name="" id="">
                            <option value="0">Địa điểm</option>
                            <option value="1">Hà Nội</option>
                            <option value="2">Ninh Bình</option>
                            <option value="3">Hội An</option>
                            <option value="4">Huế</option>
                            <option value="5">Sapa</option>
                            <option value="6">Nha Trang</option>
                        </select>
                    </div>
                    <div class="depature">
                        <label for="">
                            Ngày khởi hành
                        </label>
                        <input type="date" placeholder="Ngày khởi hành">
                    </div>
                    <div class="adult">
                        <label for="">Người lớn</label>
                        <input type="text" placeholder="0 người lớn">
                    </div>
                    <div class="children">
                        <label for="">
                            Trẻ nhỏ
                        </label>
                        <input type="text" placeholder="0 Trẻ nhỏ">
                    </div>
                    <button class="btn-search">
                        Tìm kiếm
                    </button>
                </form>
            </div>
            <div class="user-log" id="form-log">
                <div class="user-login login">
                    <h2>Đăng nhập</h2>
                    <form action="">
                        <div class="enter-name">
                            <input type="text" required>
                            <label for="">Tài khoản</label>
                        </div>
                        <div class="enter-pass">
                            <input type="password" required>
                            <label for="">Mật khẩu</label>
                        </div>
                        <button class="btn-login">
                            Đăng nhập
                        </button>
                        <div class="forgot-pass">
                            <a href="">Quên mật khẩu?</a>
                        </div>
                        <div class="or">Or</div>
                        <div class="change-log">
                            <span>Bạn chưa có tài khoản?</span>
                            <a class="register-link">Đăng ký</a>
                        </div>
                    </form>
                </div>

                <div class="user-login register">
                    <h2>Đăng ký</h2>
                    <form action="">
                        <div class="enter-name">
                            <input type="text" required>
                            <label for="">Tên người dùng</label>
                        </div>
                        <div class="enter-name">
                            <input type="text" required>
                            <label for="">Email</label>
                        </div>
                        <div class="enter-pass">
                            <input type="password" required>
                            <label for="">Mật khẩu</label>
                        </div>
                        <div class="enter-check">
                            <label for="check-box">
                                <input type="checkbox" id="check-box" required>
                                Tôi đồng ý với điều khoản và sử dụng
                            </label>
                        </div>
                        <button class="btn-login">
                            Đăng nhập
                        </button>
                        <div class="or">Or</div>
                        <div class="change-log">
                            <span>Bạn đã có tài khoản?</span>
                            <a class="login-link">Đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Scroll to top -->

        <div class="scroll-to-top" id="scroll-to-top">
            <i class="fa-regular fa-angle-down"></i>
        </div>

        <!-- Section home -->

        <section class="box-home">
            <img src="../images/moutain1.png" id="moutain1">
            <img src="../images/moutain2.png" id="moutain2">
            <img src="../images/person.png" id="person">
            <div class="clouds-1">
                <img src="../images/cloud1.png" style="--i:1;" class="cloud">
                <img src="../images/cloud2.png" style="--i:2;" class="cloud">
                <img src="../images/cloud3.png" style="--i:3;" class="cloud">
                <img src="../images/cloud4.png" style="--i:4;" class="cloud">
                <img src="../images/cloud5.png" style="--i:5;" class="cloud">
                <img src="../images/cloud1.png" style="--i:10;" class="cloud">
                <img src="../images/cloud2.png" style="--i:9;" class="cloud">
                <img src="../images/cloud3.png" style="--i:8;" class="cloud">
                <img src="../images/cloud4.png" style="--i:7;" class="cloud">
                <img src="../images/cloud5.png" style="--i:6;" class="cloud">
            </div>
            <div class="clouds-2">
                <img src="../images/cloud1.png" style="--i:1;" class="cloud">
                <img src="../images/cloud2.png" style="--i:2;" class="cloud">
                <img src="../images/cloud3.png" style="--i:3;" class="cloud">
                <img src="../images/cloud4.png" style="--i:4;" class="cloud">
                <img src="../images/cloud5.png" style="--i:5;" class="cloud">
                <img src="../images/cloud1.png" style="--i:10;" class="cloud">
                <img src="../images/cloud2.png" style="--i:9;" class="cloud">
                <img src="../images/cloud3.png" style="--i:8;" class="cloud">
                <img src="../images/cloud4.png" style="--i:7;" class="cloud">
                <img src="../images/cloud5.png" style="--i:6;" class="cloud">
            </div>
            <div class="title" id="title">
                <span>
                    Travel
                </span>
                <h1>Viet Nam</h1>
            </div>
        </section>

        <!-- Section Detinations -->

        <section class="box-destination" id="box-destination">
            <div class="wrap wrap-destination">
                <div class="title-destination">
                    <h3>Địa điểm phổ biến</h3>
                    <a href="../view/destination.html">
                        Xem tất cả
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="content-destination">
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/hohoankiem.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Hồ Hoàn Kiếm</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    Hà Nội
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="../view/detailDestination.html">Xem chi tiết<i
                                        class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/ninhbinh.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Tràng An</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    Ninh Bình
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="../view/detailDestination.html">Xem chi tiết<i
                                        class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Kinh thành Huế</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    Huế
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="#">Xem chi tiết<i class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/phocohoian2.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Phố cổ Hội An</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    TP.Hội An
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="../view/detailDestination.html">Xem chi tiết <i
                                        class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/halong1.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Hạ Long Bay</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    Hải Phòng
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="../view/detailDestination.html">Xem chi tiết <i
                                        class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/cauvang.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Cầu vàng</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    Bà Nà Hill - Đà Nẵng
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="../view/detailDestination.html">Xem chi tiết <i
                                        class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                    <div class="post-destination">
                        <div class="post-img">
                            <img src="../images/ruongbacthang5.jpg" alt="">
                        </div>
                        <div class="filter-black"></div>
                        <div class="post-info">
                            <div class="title-info">
                                <a href="">Thung lũng Mường Hoa</a>
                                <span>
                                    <i class="fa-regular fa-location-dot"></i>
                                    Sapa
                                </span>
                            </div>
                            <div class="post-react">
                                <div class="info-react">
                                    <div class="number-view">
                                        <i class="fa-regular fa-eye"></i>
                                        <span>21</span>
                                    </div>
                                    <div class="number-share">
                                        <i class="fa-solid fa-share"></i>
                                        <span>12</span>
                                    </div>
                                </div>
                                <a href="../view/detailDestination.html">Xem chi tiết <i
                                        class="fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="filter-dark"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Tours -->

        <section class="box-tour">
            <div class="wrap wrap-tour">
                <div class="title-tour">
                    <h3>Tour phổ biến</h3>
                    <a href="../view/tour.html">
                        Xem tất cả
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="list-tour slide-tour">
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Cố Đô Huế - Đồi Vọng Cảnh - Chùa Thiên Mụ</h4>
                            </a>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>

                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/phocohoian5.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Tràng An/Ninh Bình - Phố cổ Hội An</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>
                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/nhatrang.jpg" alt="">

                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Nha Trang - Tháp Bà Ponagar - Nhà thờ Núi</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>
                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/sapa2.jpg" alt="">

                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Lũng Cú - Tà Xùa - Sspa</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>
                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/sapa2.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Hà Nội - Sapa - Tà Xùa - Lũng Cú</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>
                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Tour Hà Nội - Cố Đô Huế / Thiên Viện Trúc Lâm Bạch Mã</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>
                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="img-card-tour">
                            <img src="../images/codohue3.jpg" alt="">
                        </div>
                        <div class="info-card-tour">
                            <a href="#">
                                <h4>Tour Hà Nội - Cố Đô Huế - Lăng Cô</h4>
                            </a>
                            <div class="vote-tour">
                                <div class="vote-star">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <div class="vote-number">
                                    <p>(<span>1005</span> Đánh giá)</p>
                                </div>
                            </div>
                            <div class="time-tour">
                                <i class="fa-regular fa-timer"></i>
                                <span>3 Ngày 2 Đêm</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, laborum nobis
                                at
                                facilis nihil totam necessitatibus eligendi id impedit architecto quod suscipit
                                minus
                                sit explicabo commodi a fugiat consectetur illo.</p>
                            <div class="btn-card-tour">
                                <div class="price-tour">
                                    <span class="price-old">
                                        3,000,000 &#8363
                                    </span>
                                    <span class="price-new">
                                        2,500,000 &#8363
                                    </span>
                                </div>
                                <button class="btn-view">
                                    <a href="#">
                                        <span>Đặt Tour ngay</span>
                                        <i class="fa-regular fa-cart-shopping-fast"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section comment -->

        <section class="box-comment">
            <img src="../images/halong6.jpg" alt="">
            <div class="wrap-comment">
                <div class="title-cmt">
                    <span>Đánh giá</span>
                    <h2>
                        Mọi người nói về chúng tôi
                    </h2>
                </div>
                <div class="line"></div>
                <div class="list-cmt">
                    <div class="post-cmt">
                        <div class="post-content">
                            Tất cả những ai thích đi bộ xung quanh những chuyến đi mới nên sử dụng trang web này để có
                            thêm ý tưởng! bạn bè của tôi
                            và tôi rất thích các tour du lịch của
                            các bạn, được đề nghị và muốn thử một cái gì đó mới vào lần tới. Cảm ơn!
                        </div>
                        <div class="info-client">
                            <h4>Nami N.</h4>
                            <div class="vote-star">
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="post-cmt">
                        <div class="post-content">
                            Cảm ơn bạn rất nhiều vì những chuyến đi tuyệt vời và những hướng dẫn thú vị! Chúng tôi yêu
                            thích
                            kỳ nghỉ mà chúng tôi đã thực hiện vào tuần trước.
                            Nó chính xác như chúng tôi tưởng tượng, và thậm chí còn tốt hơn! Rất khuyến khích mọi người
                            dùng VNTour.
                        </div>
                        <div class="info-client">
                            <h4>San J.</h4>
                            <div class="vote-star">
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                                <i class="fa-sharp fa-solid fa-star-sharp"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Blog -->

        <section class="box-blog">
            <div class="wrap wrap-blog">
                <div class="title-blog">
                    <h3>Bài viết gần đây</h3>
                    <a href="../view/blog.html">
                        Xem tất cả
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </div>
                <div class="list-blog slide-blog">
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//ninhbinh2.jpeg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//phocohoian4.jpg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//nhatrang3.jpg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-blog">
                        <div class="img-post-blog">
                            <img src="../images//ninhbinh2.jpeg" alt="">
                        </div>
                        <div class="info-post-blog">
                            <a href="#" class="title-info-blog">
                                Change your place and get the fresh air
                            </a>
                            <div class="author-blog">
                                <p class="name-author-blog">
                                    By<span>Admin</span>
                                </p>
                                <p class="date-blog">24/05/2023</p>
                            </div>
                            <div class="btn-view">
                                <a href="#">
                                    Xem bài viết
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Partner -->

        <section class="box-partner">
            <div class="wrap wrap-partner">
                <div class="title-partner">
                    <h3>Đối tác của chúng tôi</h3>
                </div>
                <div class="list-partner slide-partner">
                    <div class="logo-partner">
                        <img src="../images/logo-partner.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-pinterest.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-partner.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-pinterest.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-partner.png" alt="">
                    </div>
                    <div class="logo-partner">
                        <img src="../images/logo-pinterest.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->

        <footer class="box-footer">
            <div class="wrap wrap-footer">
                <div class="logo-company">
                    <a href="#">
                        VN Travel
                    </a>
                </div>
                <div class="list-footer">
                    <div class="menu-footer">
                        <a href="../view/index.html">Trang chủ</a>
                        <a href="../view/aboutus.html">Về chúng tôi</a>
                        <a href="../view/destination.html">Địa điểm</a>
                        <a href="../view/tour.html">Tours</a>
                        <a href="../view/gallery.html">Thư viện</a>
                        <a href="../view/blog.html">Bài viết</a>
                    </div>
                    <div class="support-footer">
                        <span>Support</span>
                        <a href="../view/contact.html">Liên hệ chúng tôi</a>
                        <a href="#">Our Partner</a>
                        <a href="#">Chính sách và bảo mật</a>
                        <a href="#">Chính sách hoàn tiền</a>
                    </div>
                    <div class="contact-footer">
                        <span>Contact</span>
                        <a href="tel:0387094970">
                            <i class="fa-regular fa-phone"></i>
                            <span>038-709-4970</span>
                        </a>
                        <a href="mailto:vbngoc211201@gmail.com">
                            <i class="fa-regular fa-envelope"></i>
                            <span>vbngoc211201@gmail.com</span>
                        </a>
                        <a>
                            <i class="fa-regular fa-location-dot"></i>
                            <span>59 SN, P.Đức Thắng, Q.Bắc Từ Liêm, Hà Nội</span>
                        </a>
                        <div class="contact-icon">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-footer">
                <span>© Copyright 2023 - VN Travel - An Travel Theme - by Vu Bao Ngoc</span>
            </div>
        </footer>



        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"
            integrity="sha512-K/oyQtMXpxI4+K0W7H25UopjM8pzq0yrVdFdG21Fh5dBe91I40pDd9A4lzNlHPHBIP2cwZuoxaUSX0GJSObvGA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="../js/app.js"></script>
        <script src="./w3-include-js.js"></script>

    </body>

</html>