<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../css/profile.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>About us</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/dalat2.jpg" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Đăng nhập - Đăng ký</h1>
                <span>Welcome to VN Travel</span>
                <div class="back-page">
                    <a href="../view/index.html">Trang chủ</a>
                    <a>Đăng nhập - Đăng ký</a>
                </div>
            </div>
        </section>

        <!-- Section contact us -->

        <!-- Section User Account -->

        <section class="box-info-detail">
            <div class="wrap wrap-info-detail">
                <div class="tab-info-detail">
                    <form class="content-info-detail">
                        <h3>Đăng nhập</h3>
                        <label for="acc">Tài khoản</label>
                        <input type="text" id="acc" required>

                        <label for="pass">Mật khẩu</label>
                        <input type="password" id="pass" required>

                        <div class="rememberPass">
                            <input type="checkbox" id="rememberPass">
                            <label for="rememberPass">Nhớ mật khẩu</label>
                        </div>

                        <button class="btn-login">
                            Đăng nhập
                        </button>
                        <div class="support">
                            <a href="">
                                Bạn quyên mật khẩu?
                            </a>
                            <div class="toRegister">
                                Bạn chưa có tài khoản?
                                <a href="../view/register-acc.html">
                                    Đăng ký
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>



        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>