<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Travel Tour</title>
    </head>

    <body>

        <!-- navbar -->

        <nav class="box-navbar" id="box-navbar">
            <div class="wrap wrap-navbar">
                <button type="button" id="menu-child">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </button>
                <div class="box-logo">
                    <a href="./index.html">
                        VN Travel
                    </a>
                </div>
                <div class="box-menu" id="box-menu">
                    <div class="wrap-menu" id="wrap-menu">
                        <ul class="menu">
                            <li>
                                <a href="./index.html">
                                    Trang chủ
                                </a>
                            </li>
                            <li>
                                <a href="../view/aboutus.html">
                                    Về chúng tôi
                                </a>
                            </li>
                            <li>
                                <a href="../view/destination.html">
                                    Địa điểm
                                </a>
                            </li>
                            <li>
                                <a href="../view/tour.html">
                                    Tours
                                </a>
                            </li>
                            <li>
                                <a href="../view/blog.html">
                                    Bài viết
                                </a>
                            </li>
                            <li>
                                <a href="../view/contact.html">
                                    Liên hệ
                                </a>
                            </li>
                            <div class="underline-menu"></div>
                        </ul>
                    </div>
                </div>
                <div class="box-cta">
                    <a class="cta-search" id="cta-search">
                        <i class="fa-light fa-magnifying-glass"></i>
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                    </a>
                    <a class="cta-user" id="cta-user">
                        <i class="fa-light fa-user"></i>
                        <i class="fa-solid fa-user-xmark"></i>
                    </a>
                </div>
            </div>
            <div class="wrap-form" id="wrap-form">
                <form action="" class="wrap">
                    <div class="location">
                        <label for="">Địa điểm</label>
                        <select name="" id="">
                            <option value="0">Địa điểm</option>
                            <option value="1">Hà Nội</option>
                            <option value="2">Ninh Bình</option>
                            <option value="3">Hội An</option>
                            <option value="4">Huế</option>
                            <option value="5">Sapa</option>
                            <option value="6">Nha Trang</option>
                        </select>
                    </div>
                    <div class="depature">
                        <label for="">
                            Ngày khởi hành
                        </label>
                        <input type="date" placeholder="Ngày khởi hành">
                    </div>
                    <div class="adult">
                        <label for="">Người lớn</label>
                        <input type="text" placeholder="0 người lớn">
                    </div>
                    <div class="children">
                        <label for="">
                            Trẻ nhỏ
                        </label>
                        <input type="text" placeholder="0 Trẻ nhỏ">
                    </div>
                    <button class="btn-search">
                        Tìm kiếm
                    </button>
                </form>
            </div>
            <div class="user-log" id="form-log">
                <div class="user-login login">
                    <h2>Đăng nhập</h2>
                    <form action="">
                        <div class="enter-name">
                            <input type="text" required>
                            <label for="">Tài khoản</label>
                        </div>
                        <div class="enter-pass">
                            <input type="password" required>
                            <label for="">Mật khẩu</label>
                        </div>
                        <button class="btn-login">
                            Đăng nhập
                        </button>
                        <div class="forgot-pass">
                            <a href="">Quên mật khẩu?</a>
                        </div>
                        <div class="or">Or</div>
                        <div class="change-log">
                            <span>Bạn chưa có tài khoản?</span>
                            <a class="register-link">Đăng ký</a>
                        </div>
                    </form>
                </div>

                <div class="user-login register">
                    <h2>Đăng ký</h2>
                    <form action="">
                        <div class="enter-name">
                            <input type="text" required>
                            <label for="">Tên người dùng</label>
                        </div>
                        <div class="enter-name">
                            <input type="text" required>
                            <label for="">Email</label>
                        </div>
                        <div class="enter-pass">
                            <input type="password" required>
                            <label for="">Mật khẩu</label>
                        </div>
                        <div class="enter-check">
                            <label for="check-box">
                                <input type="checkbox" id="check-box" required>
                                Tôi đồng ý với điều khoản và sử dụng
                            </label>
                        </div>
                        <button class="btn-login">
                            Đăng nhập
                        </button>
                        <div class="or">Or</div>
                        <div class="change-log">
                            <span>Bạn đã có tài khoản?</span>
                            <a class="login-link">Đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Scroll to top -->

        <div class="scroll-to-top" id="scroll-to-top">
            <i class="fa-regular fa-angle-down"></i>
        </div>

        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/w3-import.js"></script>

    </body>

</html>