<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../css/profile.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>About us</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/dalat.jpg" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Thông tin cá nhân</h1>
                <div class="back-page">
                    <a href="../view/index.html">Trang chủ</a>
                    <a href="../view/aboutus.html">Thông tin cá nhân</a>
                </div>
            </div>
        </section>

        <!-- Section profile -->

        <section class="box-profile">
            <div class="wrap wrap-profile">
                <div class="menu-profile">
                    <div class="avatar-upload">
                        <i class="fa-light fa-camera-rotate"></i>
                        <input type='file' id="readUrl">
                        <img id="uploadedImage" src="#" alt="Uploaded Image" accept="image/png, image/jpeg">
                    </div>
                    <div class=" info-profile">
                        <span class="name">Vu Bao Ngoc</span>
                        <span class="mail">vbngoc211201@gmail.com</span>
                        <span class="tel">0387094970</span>
                    </div>
                    <div class="tab-menu">
                        <div class="tab-item active">
                            <i class="fa-light fa-user"></i>
                            <span>Thông tin tài khoản</span>
                        </div>
                        <div class="tab-item">
                            <i class="fa-regular fa-lock-keyhole"></i>
                            <span>Đổi mật khẩu</span>
                        </div>
                        <div class="item-logOut">
                            <i class="fa-regular fa-arrow-right-to-bracket"></i>
                            <span>Đăng xuất</span>
                        </div>
                    </div>
                </div>
                <div class="update-profile">
                    <div class="tab-profile active">
                        <h3>Thông tin tài khoản</h3>
                        <div class="form-profile">
                            <div class="input name-profile">
                                <label for="name">Họ và tên</label>
                                <input type="text" name="" id="name">
                            </div>
                            <div class="input email-profile">
                                <label for="email">Email</label>
                                <input type="email" id="email">
                            </div>
                            <div class="input tel-profile">
                                <label for="tel">Số điện thoại</label>
                                <input type="tel" id="tel">
                            </div>
                            <button type="submit" class="btn-submit">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                    <div class="tab-profile">
                        <h3>Đổi mật khẩu</h3>
                        <div class="form-changePass">
                            <div class="passOld">
                                <label for="passOld">Mật khẩu cũ</label>
                                <input type="text">
                            </div>
                            <div class="passNew">
                                <label for="passNew">Mật khẩu mới</label>
                                <input type="text">
                            </div>
                            <div class="enter-passNew">
                                <label for="enter-pasNew">Nhập lại mật khẩu mới</label>
                                <input type="text" name="" id="">
                            </div>
                            <button class="btn-changePass">
                                Đổi mật khẩu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/profile.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>