<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <title>Đăng ký - VN Travel</title>
  </head>

  <body>
    <!-- layout-page -->
    <div w3-include-html="navbar.html"></div>

    <!-- Section home -->
    <section class="box-banner">
      <img src="../images/dalat2.jpg" alt="" />
      <div class="filter-bg"></div>
      <div class="wrap title-banner">
        <h1>Đăng ký</h1>
        <span>Welcome to VN Travel</span>
        <div class="back-page">
          <a href="../view/index.html">Trang chủ</a>
          <a>Đăng ký</a>
        </div>
      </div>
    </section>

    <!-- Section contact us -->

    <!-- Section User Account -->

    <section class="box-info-detail">
      <div class="wrap wrap-info-detail">
        <div class="tab-info-detail">
          <form class="content-info-detail">
            <h3>Đăng ký</h3>
            <label for="name">Tên người dùng</label>
            <input type="text" id="name" required />

            <label for="email">Email</label>
            <input type="email" id="email" required />

            <label for="numPhone">Số điện thoại</label>
            <input type="text" id="numPhone" required />

            <label for="password">Mật khẩu</label>
            <input type="password" id="password" required />

            <button class="btn-register">Đăng ký</button>
            <div class="toLogin">
              Bạn đã có tài khoản?
              <a href="../view/log-acc.html"> Đăng nhập </a>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->

    <div w3-include-html="footer.html"></div>

    <!-- script  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script async src="../js/w3-import.js"></script>
  </body>
</html>
