<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/about.css">
        <link rel="stylesheet" href="../css/tour.css">
        <link rel="shortcut icon" type="image/png" href="/image/about-2.png" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <title>Destinations</title>
    </head>

    <body>

        <!-- layout-page -->
        <div w3-include-html="navbar.html"></div>

        <!-- Section home -->
        <section class="box-banner">
            <img src="../images/nhatrang4.jpg" alt="">
            <div class="filter-bg"></div>
            <div class="wrap title-banner">
                <h1>Chuyến đi</h1>
                <span>The Best for Destination VN</span>
                <div class="back-page">
                    <a href="../view/index.html">Home</a>
                    <a href="../view/aboutus.html">Destination</a>
                </div>
            </div>
        </section>

        <!-- Section list tour -->

        <section class="box-tourPage">
            <div class="wrap wrap-tourPage">
                <div class="search-tour">
                    <h3>Lọc thông tin</h3>
                    <div class="search-input">
                        <input type="text" id="find-tour" placeholder="Nhập từ khóa..." onkeyup="find()">
                        <i class="fa-regular fa-magnifying-glass"></i>
                    </div>
                    <div class="find">
                        <h3>Thẻ tìm kiếm</h3>
                        <div class="search-btnName">
                            <button class="active" data-name="all">Tất cả</button>
                            <button data-name="hanoi">Hà Nội</button>
                            <button data-name="haiphong">Hạ Long Bay</button>
                            <button data-name="sapa">Sapa</button>
                            <button data-name="ninhbinh">Ninh Bình</button>
                            <button data-name="hoian"> Hội An</button>
                            <button data-name="danang"> Bà Nà Hill</button>
                            <button data-name="danang"> Cầu Vàng</button>
                            <button data-name="nhatrang"> Nha Trang</button>
                            <button data-name="hue"> Huế</button>
                        </div>
                    </div>
                    <div class="find">
                        <h3>Giá tiền</h3>
                        <div class="search-btnPrice">
                            <button class="active-price" data-price="all">Tất cả</button>
                            <button data-price="lessFive">2-5m</button>
                            <button data-price="fiveToEight">5-8m</button>
                            <button data-price="moreEight">
                                <i class="fa-light fa-angle-right"></i>
                                8m
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-tour">
                    <div class="title-list-tour">
                        <h2>Tour du lịch</h2>
                    </div>
                    <div class="grid-filter" id="btn-grid">
                        <i class="fa-regular fa-grid"></i>
                        <i class="fa-regular fa-list"></i>
                    </div>
                    <div class="list-post" id="list-tour">
                        <div class="post-card" data-name="hanoi" data-price="lessFive">
                            <div class="img-card">
                                <img src="../images/hohoankiem.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Hà Nội</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Hồ Hoàn Kiếm, Hà Nội</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>2.300.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="danang" data-price="fiveToEight">
                            <div class="img-card">
                                <img src="../images/cauvang.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Đà Nẵng - Bà Nà - Cầu Vàng - Sơn Trà - Biển Mỹ Khê - Hội An - Đà Nẵng
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Đà Nẵng</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Đà Nẵng, Cầu Vàng, Bà Nà Hill</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>6.499.999₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="haiphong" data-price="lessFive">
                            <div class="img-card">
                                <img src="../images/halong.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Hải Phòng</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Vịnh Hạ Long, Hạ Long Bay, Hải Phòng</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>2.300.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="ninhbinh" data-price="moreEight">
                            <div class="img-card">
                                <img src="../images/ninhbinh.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Ninh Bình</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Tam Cốc, Tràng An, Ninh BÌnh</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>9.300.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="sapa" data-price="fiveToEight">
                            <div class="img-card">
                                <img src="../images/sapa2.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Sapa</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Sapa</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>5.300.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="nhatrang" data-price="moreEight">
                            <div class="img-card">
                                <img src="../images/nhatrang.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Nha Trang</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Nha Trang, Khánh Hòa</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>10.076.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="hoian" data-price="fiveToEight">
                            <div class="img-card">
                                <img src="../images/phocohoian2.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Hội An</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Hội An, Phố Cổ</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>7.688.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="hoian" data-price="fiveToEight">
                            <div class="img-card">
                                <img src="../images/phocohoian3.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Hội An</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Chùa Cầu, Phố cổ, Hội An</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>6.555.555₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="sapa" data-price="lessFive">
                            <div class="img-card">
                                <img src="../images/ruongbacthang2.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Sapa</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Mường Thanh, Ruộng bậc thang, Sapa</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>2.300.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="post-card" data-name="hanoi" data-price="lessFive">
                            <div class="img-card">
                                <img src="../images/hoguom.jpg" alt="">
                            </div>
                            <div class="content-card">
                                <div class="title-card">
                                    <h3>
                                        <a href="">Hành trình tìm về nguồn cội: Hà Nội - Hạ Long - Ninh Bình - Bái Đính
                                            - Tràng An - Chùa Địa Tạng Phi Lai Tự - Quần thể Tam Chúc
                                        </a>
                                    </h3>
                                    <div class="info-card">
                                        <div class="time-tour">
                                            <i class="fa-regular fa-timer"></i>
                                            <p>Ngày khởi hành:</p>
                                            <p>1/7/2023</p>
                                        </div>
                                        <div class="location-tour">
                                            <i class="fa-regular fa-location-dot"></i>
                                            <p>Địa điểm:</p>
                                            <p>Hà Nội</p>
                                        </div>
                                        <div class="tag-tour">
                                            <i class="fa-regular fa-tag"></i>
                                            <span>Hồ Hoàn Kiếm, Hồ Gươm, Hà Nội</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-book">
                                    <div class="eval-tour">
                                        <div class="price-tour">
                                            Giá<span>2.300.000₫</span>
                                        </div>
                                        <div class="rate-tour">
                                            <div class="vote-star">
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                                <i class="fa-sharp fa-solid fa-star"></i>
                                            </div>
                                            <div class="number-rate">
                                                <span>(21 đánh giá)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn-book">
                                        <a href="">
                                            Đặt ngay
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>







        <!-- Footer -->

        <div w3-include-html="footer.html"></div>

        <!-- script  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/w3-import.js"></script>


    </body>

</html>